In [1]:
import numpy as np
import pandas as pd
import csv_figures
from csv_figures import add_time_col
from csv_figures import annual_Norm
import matplotlib.pyplot as plt
import requests
from matplotlib.widgets import CheckButtons

ModuleNotFoundError: No module named 'csv_figures'

In [2]:
DBoccia = pd.read_excel('../../Cleaned_data/AnchorageSolar_cleaned/16DBoccia_cleaned.xlsx')
LWaller = pd.read_excel('../../Cleaned_data/AnchorageSolar_cleaned/16LWaller_cleaned.xlsx')
MAngstman = pd.read_excel('../../Cleaned_data/AnchorageSolar_cleaned/16Mangstman_cleaned.xlsx')
May = pd.read_excel('../../Cleaned_data/AnchorageSolar_cleaned/16May_cleaned.xlsx')
Pcrofut = pd.read_excel('../../Cleaned_data/AnchorageSolar_cleaned/16Pcrofut_cleaned.xlsx')
SDowns = pd.read_excel('../../Cleaned_data/AnchorageSolar_cleaned/16SDowns_cleaned.xlsx')

In [3]:
DBoccia_new = add_time_col(DBoccia)
LWaller_new = add_time_col(LWaller)
MAngstman_new = add_time_col(MAngstman)
May_new = add_time_col(May)
Pcrofut_new = add_time_col(Pcrofut)
SDowns_new = add_time_col(SDowns)

NameError: name 'add_time_col' is not defined

In [4]:
D_annual_values,D_month = annual_Norm(DBoccia_new)
L_annual_values,L_month = annual_Norm(LWaller_new)
MA_annual_values,MA_month = annual_Norm(MAngstman_new)
May_annual_values,May_month = annual_Norm(May_new)
P_annual_values,P_month = annual_Norm(Pcrofut_new)
S_annual_values,S_month = annual_Norm(SDowns_new)

In [6]:
new_D = pd.DataFrame({'Date':D_month,'DBoccia':D_annual_values})
new_L = pd.DataFrame({'Date':L_month,'LWaller':L_annual_values})
new_MA = pd.DataFrame({'Date':MA_month,'MAngstman':MA_annual_values})
new_May = pd.DataFrame({'Date':May_month,'May':May_annual_values})
new_P = pd.DataFrame({'Date':P_month,'Pcrofut':P_annual_values})
new_S = pd.DataFrame({'Date':S_month,'SDowns':S_annual_values})
result = pd.merge(new_D,new_L,on='Date',how='outer')
result = pd.merge(result,new_MA,on='Date',how='outer')
result = pd.merge(result,new_May,on='Date',how='outer')
result = pd.merge(result,new_P,on='Date',how='outer')
Anchorage_16= pd.merge(result,new_S,on='Date',how='outer')
# #Anchorage_16 = result.fillna("")
Anchorage_16['Mean'] = Anchorage_16.mean(axis=1)
Anchorage_16 = Anchorage_16.sort_values(by = ['Date'])
Anchorage_16

,Date,DBoccia,LWaller,MAngstman,May,Pcrofut,SDowns,Mean
0,2017-07-01,370.774554,NaN,NaN,428.512973,NaN,NaN,399.643763
1,2017-08-01,461.732143,NaN,NaN,478.543003,694.897277,NaN,545.057474
2,2017-09-01,495.263393,853.841953,1032.179592,475.326787,792.156205,NaN,729.753586
3,2017-10-01,512.937500,919.548984,1069.542857,468.768228,810.932991,NaN,756.346112
4,2017-11-01,519.319196,904.084141,1043.536735,462.867327,814.098170,2509.531992,1042.239593
5,2017-12-01,516.753884,896.636953,1037.812245,458.912372,807.618705,2558.336680,1046.011807
6,2018-01-01,517.325848,903.751758,1034.922449,460.173784,807.694152,2562.625547,1047.748923
7,2018-02-01,517.497812,901.046992,1050.767347,460.669339,806.897187,2559.288437,1049.361186
8,2018-03-01,525.674152,891.812617,1027.036735,457.203874,805.841920,2525.520586,1038.848314
9,2018-04-01,546.946473,842.293086,926.069388,438.570180,800.677857,2465.067461,1003.270741
10,2018-05-01,579.252277,825.316523,914.555102,428.858468,804.718036,2443.579180,999.379931
11,2018-06-01,622.169688,807.195430,870.514286,418.095706,789.660000,2225.911211,955.591053
12,2018-07-01,689.531295,837.129023,877.428571,501.212823,836.285000,2223.524492,994.185201
13,2018-08-01,721.957634,857.879023,857.938776,554.254865,888.633214,2315.243242,1032.651126
14,2018-09-01,719.350491,859.699336,819.316327,587.861471,907.807321,2304.376055,1033.068500
15,2018-10-01,745.591562,903.574336,825.008163,648.377988,963.535000,2418.594805,1084.113642
16,2018-11-01,740.830402,890.961055,829.108163,657.272883,963.186786,2392.751055,1079.018391
17,2018-12-01,747.279152,896.376211,843.297959,661.321081,973.846429,2384.921055,1084.506981
18,2019-01-01,747.408080,890.241250,843.057143,660.916967,974.594777,2379.419961,1082.606363
19,2019-02-01,747.244554,895.973633,823.584041,663.153604,974.538929,2395.875938,1083.395116
20,2019-03-01,753.824174,927.008789,821.343224,677.048498,974.512902,2483.582969,1106.220093

In [57]:
# Get the data from the PV Watts --TMY2
list_parameters = {"formt": 'JSON', "api_key": "spJFj2l5ghY5jwk7dNfVYs3JHbpR6BOGHQNO8Y9Z", "system_capacity": 14, "module_type": 0, "losses": 14.08,
              "array_type": 0, "tilt": 50, "azimuth": 180, "lat": 61.21, "lon": -149.89, "dataset": 'tmy2'}
json_response = requests.get("https://developer.nrel.gov/api/pvwatts/v6", params = list_parameters).json()
TMY2 = pd.DataFrame(data = json_response['outputs'])
# Get the data from the PV Watts --TMY2
list_parameters = {"formt": 'JSON', "api_key": "spJFj2l5ghY5jwk7dNfVYs3JHbpR6BOGHQNO8Y9Z", "system_capacity": 14, "module_type": 0, "losses": 14.08,
              "array_type": 0, "tilt": 50, "azimuth": 180, "lat": 61.20, "lon": -149.73, "dataset": 'tmy3'}
json_response = requests.get("https://developer.nrel.gov/api/pvwatts/v6", params = list_parameters).json()
TMY3 = pd.DataFrame(data = json_response['outputs'])

In [58]:
Anchorage_16['TMY2'] = TMY2['ac_monthly']
Anchorage_16['TMY3'] = TMY3['ac_monthly']

In [59]:
#Anchorage_16.drop(['TMY2_annual','TMY3_annual'],axis = 1,inplace = True)
TMY2_low = TMY2['ac_annual'][2]*0.95/14
TMY2_high = TMY2['ac_annual'][2]*1.05/14

TMY3_low = TMY3['ac_annual'][2]*0.95/14
TMY3_high = TMY3['ac_annual'][2]*1.05/14

In [62]:
Anchorage_16['TMY2_low'] = TMY2_low
Anchorage_16['TMY2_high'] = TMY2_high
Anchorage_16['TMY3_low'] = TMY3_low
Anchorage_16['TMY3_high'] = TMY3_high

In [63]:
Anchorage_16

,Date,DBoccia,LWaller,MAngstman,May,Pcrofut,SDowns,Mean,TMY2,TMY3,TMY2_low,TMY2_high,TMY3_low,TMY3_high
0,2017-07-01,370.774554,NaN,NaN,428.512973,NaN,NaN,399.643763,300.178833,216.280655,877.099958,969.42627,900.563487,995.359644
1,2017-08-01,461.732143,NaN,NaN,478.543003,694.897277,NaN,545.057474,691.071716,410.580841,877.099958,969.42627,900.563487,995.359644
2,2017-09-01,495.263393,853.841953,1032.179592,475.326787,792.156205,NaN,729.753586,1330.001953,1217.677368,877.099958,969.42627,900.563487,995.359644
3,2017-10-01,512.937500,919.548984,1069.542857,468.768228,810.932991,NaN,756.346112,1533.541016,1707.770386,877.099958,969.42627,900.563487,995.359644
4,2017-11-01,519.319196,904.084141,1043.536735,462.867327,814.098170,2509.531992,1042.239593,1842.311279,1908.405029,877.099958,969.42627,900.563487,995.359644
5,2017-12-01,516.753884,896.636953,1037.812245,458.912372,807.618705,2558.336680,1046.011807,1707.377441,2087.946533,877.099958,969.42627,900.563487,995.359644
6,2018-01-01,517.325848,903.751758,1034.922449,460.173784,807.694152,2562.625547,1047.748923,1655.989868,1642.537109,877.099958,969.42627,900.563487,995.359644
7,2018-02-01,517.497812,901.046992,1050.767347,460.669339,806.897187,2559.288437,1049.361186,1366.767334,1499.759521,877.099958,969.42627,900.563487,995.359644
8,2018-03-01,525.674152,891.812617,1027.036735,457.203874,805.841920,2525.520586,1038.848314,1137.300537,1290.349365,877.099958,969.42627,900.563487,995.359644
9,2018-04-01,546.946473,842.293086,926.069388,438.570180,800.677857,2465.067461,1003.270741,671.748047,827.890869,877.099958,969.42627,900.563487,995.359644
10,2018-05-01,579.252277,825.316523,914.555102,428.858468,804.718036,2443.579180,999.379931,476.994904,306.113281,877.099958,969.42627,900.563487,995.359644
11,2018-06-01,622.169688,807.195430,870.514286,418.095706,789.660000,2225.911211,955.591053,212.398697,156.149460,877.099958,969.42627,900.563487,995.359644
12,2018-07-01,689.531295,837.129023,877.428571,501.212823,836.285000,2223.524492,994.185201,NaN,NaN,877.099958,969.42627,900.563487,995.359644
13,2018-08-01,721.957634,857.879023,857.938776,554.254865,888.633214,2315.243242,1032.651126,NaN,NaN,877.099958,969.42627,900.563487,995.359644
14,2018-09-01,719.350491,859.699336,819.316327,587.861471,907.807321,2304.376055,1033.068500,NaN,NaN,877.099958,969.42627,900.563487,995.359644
15,2018-10-01,745.591562,903.574336,825.008163,648.377988,963.535000,2418.594805,1084.113642,NaN,NaN,877.099958,969.42627,900.563487,995.359644
16,2018-11-01,740.830402,890.961055,829.108163,657.272883,963.186786,2392.751055,1079.018391,NaN,NaN,877.099958,969.42627,900.563487,995.359644
17,2018-12-01,747.279152,896.376211,843.297959,661.321081,973.846429,2384.921055,1084.506981,NaN,NaN,877.099958,969.42627,900.563487,995.359644
18,2019-01-01,747.408080,890.241250,843.057143,660.916967,974.594777,2379.419961,1082.606363,NaN,NaN,877.099958,969.42627,900.563487,995.359644
19,2019-02-01,747.244554,895.973633,823.584041,663.153604,974.538929,2395.875938,1083.395116,NaN,NaN,877.099958,969.42627,900.563487,995.359644
20,2019-03-01,753.824174,927.008789,821.343224,677.048498,974.512902,2483.582969,1106.220093,NaN,NaN,877.099958,969.42627,900.563487,995.359644

In [65]:
# So now, let's try to draw a plot with checkbox
%matplotlib qt5
fig, ax = plt.subplots(figsize = (15, 8))
x = Anchorage_16['Date']


y_D = Anchorage_16['DBoccia']
l0, = ax.plot(x ,y_D,label='DBoccia')

y_L = Anchorage_16['LWaller']
l1, = ax.plot(x ,y_L,label='LWaller')


y_M = Anchorage_16['MAngstman']
l2, = ax.plot(x ,y_M)


y_May = Anchorage_16['May']
l3, = ax.plot(x ,y_May)

y_P = Anchorage_16['Pcrofut']
l4, = ax.plot(x,y_P,label='Pcrofut')


#y_S = Anchorage_16['SDowns']
#l5, = ax.plot(x,y_S,label = 'SDowns(BP)')

y_mean = Anchorage_16['Mean']
l6, = ax.plot(x,y_mean,label='Mean')

y_TMY2 = Anchorage_16['TMY2']
l7, = ax.plot(x,y_TMY2,'--',label = 'TMY2_ac_monthly')

y_TMY3 = Anchorage_16['TMY3']
l8, = ax.plot(x,y_TMY3,'--',label = 'TMY3_ac_monthly')

y_TMY2_low = Anchorage_16['TMY2_low']
l9, = ax.plot(x,y_TMY2_low,'--',label = 'TMY2_low')

y_TMY2_high = Anchorage_16['TMY2_high']
l10, = ax.plot(x,y_TMY2_high,'--',label = 'TMY2_high')

y_TMY3_low = Anchorage_16['TMY3_low']
l11, = ax.plot(x,y_TMY3_low,'-.',label = 'TMY3_low')

y_TMY3_high = Anchorage_16['TMY3_high']
l12, = ax.plot(x,y_TMY3_high,'-.',label = 'TMY3_high')

# # #ax.plot(x=range(len(result['Date'][49:90])),y = result['Mean'][49:90],label='Average')
# # #ax.plot(x=range(len(result['Date'][49:90])),y = result['TMY2_low'][49:90],label='TMY2_low') 
# #ax.plot(x=range(len(result['Date'][49:90])),y = result['TMY2_high'][49:90],label ='TMY2_high')

#this is where we can adjust the subplots side/top/buttom width
# tick_spacing = np.linspace(1, len(Anchorage_16.index)-1,12, dtype = 'int')
# Date_shown = []
# for i in tick_spacing:
#     Date_shown.append(Anchorage_16['Date'][i])
#ax.xticks(tick_spacing,Date_shown)
#plt.annotate('THY2_high',xy=(30,1072.991757),xytext=(32,1100),arrowprops=dict(facecolor='black', shrink=0.05))
#plt.annotate('THY2_low',xy=(10,970.802066),xytext=(6,930),arrowprops=dict(facecolor='black', shrink=0.05))
# ax.set_xticks(tick_spacing)
ax.set_title("Rolling 12-Month Average of Produced Power, Over Time", size = 18)
ax.set_xlabel("Month", size = 14)
ax.set_ylabel("AC Power Produced (kWh) per DC Power Installed (kW)", size = 14)
ax.legend()


plt.subplots_adjust(left=0.2)
lines = [l0, l1, l2, l3, l4, l5, l6, l7, l8, l9, l10, l11, l12]

# Make checkbuttons with all plotted lines with correct visibility
rax = plt.axes([0.005, 0.5, 0.15, 0.4])
labels = [str(line.get_label()) for line in lines]
visibility = [line.get_visible() for line in lines]
check = CheckButtons(rax, labels, visibility)


def func(label):
    index = labels.index(label)
    lines[index].set_visible(not lines[index].get_visible())
    plt.draw()

check.on_clicked(func)


# Some 

plt.show()

#Ok,this seems to be fine,maybe we will talk about it after.