In [1]:
import numpy as np
import pandas as pd
import csv_figures
from csv_figures import add_time_col
from csv_figures import annual_Norm
import matplotlib.pyplot as plt
import requests
from matplotlib.widgets import CheckButtons

In [2]:
ARappoport = pd.read_excel('../../Cleaned_data/AnchorageSolar_cleaned/17ARappoport_cleaned.xlsx')
cwilcox = pd.read_excel('../../Cleaned_data/AnchorageSolar_cleaned/17cwilcox_cleaned.xlsx')
dgroth = pd.read_excel('../../Cleaned_data/AnchorageSolar_cleaned/17dgroth_cleaned.xlsx')
JFredston = pd.read_excel('../../Cleaned_data/AnchorageSolar_cleaned/17JFredston_cleaned.xlsx')
jreynold = pd.read_excel('../../Cleaned_data/AnchorageSolar_cleaned/17jreynold_cleaned.xlsx')
jrpatee = pd.read_excel('../../Cleaned_data/AnchorageSolar_cleaned/17jrpatee_cleaned.xlsx')
jslemons = pd.read_excel('../../Cleaned_data/AnchorageSolar_cleaned/17jslemons_cleaned.xlsx')
MPennington = pd.read_excel('../../Cleaned_data/AnchorageSolar_cleaned/17MPennington_cleaned.xlsx')
NPeters = pd.read_excel('../../Cleaned_data/AnchorageSolar_cleaned/17NPeters_cleaned.xlsx')
pjohnsony = pd.read_excel('../../Cleaned_data/AnchorageSolar_cleaned/17pjohnson_cleaned.xlsx')
rrogers = pd.read_excel('../../Cleaned_data/AnchorageSolar_cleaned/17rrogers.xlsx')
SherKim = pd.read_excel('../../Cleaned_data/AnchorageSolar_cleaned/17SherKim_cleaned.xlsx')

In [3]:
ARappoport_new = add_time_col(ARappoport)
cwilcox_new = add_time_col(cwilcox)
dgroth_new = add_time_col(dgroth)
JFredston_new = add_time_col(JFredston)
jreynold_new = add_time_col(jreynold)
jrpatee_new = add_time_col(jrpatee)
jslemons_new = add_time_col(jslemons)
MPennington_new = add_time_col(MPennington)
NPeters_new = add_time_col(NPeters)
pjohnsony_new = add_time_col(pjohnsony)
rrogers_new = add_time_col(rrogers)
SherKim_new = add_time_col(SherKim)

/Users/guge/Desktop/acep-solar/new/ACEP_solar/GEGU/figures/csv_figures.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  dataframe['Date'][i] = str(dataframe['Year'][i]) + '-' + str(dataframe['Month'][i])

In [4]:
ARa_annual_values,ARa_month = annual_Norm(ARappoport_new)
cwi_annual_values,cwi_month = annual_Norm(cwilcox_new)
dgr_annual_values,dgr_month = annual_Norm(dgroth_new)
JFr_annual_values,JFr_month = annual_Norm(JFredston_new)
jre_annual_values,jre_month = annual_Norm(jreynold_new)
jrp_annual_values,jrp_month = annual_Norm(jrpatee_new)
jsl_annual_values,jsl_month = annual_Norm(jslemons_new)
MPe_annual_values,MPe_month = annual_Norm(MPennington_new)
NPe_annual_values,NPe_month = annual_Norm(NPeters_new)
pjo_annual_values,pjo_month = annual_Norm(pjohnsony_new)
rro_annual_values,rro_month = annual_Norm(rrogers_new)
She_annual_values,She_month = annual_Norm(SherKim_new)

In [5]:
new_ARa = pd.DataFrame({'Date':ARa_month,'ARappoport':ARa_annual_values})
new_cwi = pd.DataFrame({'Date':cwi_month,'cwilcox':cwi_annual_values})
new_dgr = pd.DataFrame({'Date':dgr_month,'dgroth':dgr_annual_values})
new_JFr = pd.DataFrame({'Date':JFr_month,'JFredston':JFr_annual_values})
new_jre = pd.DataFrame({'Date':jre_month,'jreynold':jre_annual_values})
new_jrp = pd.DataFrame({'Date':jrp_month,'jrpatee':jrp_annual_values})
new_jsl = pd.DataFrame({'Date':jsl_month,'jslemons':jsl_annual_values})
new_MPe = pd.DataFrame({'Date':MPe_month,'MPennington':MPe_annual_values})
new_NPe = pd.DataFrame({'Date':NPe_month,'NPeters':NPe_annual_values})
new_pjo = pd.DataFrame({'Date':pjo_month,'pjohnsony':pjo_annual_values})
new_rro = pd.DataFrame({'Date':rro_month,'rrogers':rro_annual_values})
new_She = pd.DataFrame({'Date':She_month,'SherKim':She_annual_values})
result = pd.merge(new_ARa,new_cwi,on='Date',how='outer')
result = pd.merge(result,new_dgr,on='Date',how='outer')
result = pd.merge(result,new_JFr,on='Date',how='outer')
result = pd.merge(result,new_jre,on='Date',how='outer')
result = pd.merge(result,new_jrp,on='Date',how='outer')
result = pd.merge(result,new_jsl,on='Date',how='outer')
result = pd.merge(result,new_MPe,on='Date',how='outer')
result = pd.merge(result,new_NPe,on='Date',how='outer')
result = pd.merge(result,new_pjo,on='Date',how='outer')
result = pd.merge(result,new_rro,on='Date',how='outer')
Anchorage_17 = pd.merge(result,new_She,on='Date',how='outer')
Anchorage_17['Mean'] = Anchorage_17.mean(axis=1)
Anchorage_17 = Anchorage_17.sort_values(by = ['Date'])
Anchorage_17

,Date,ARappoport,cwilcox,dgroth,JFredston,jreynold,jrpatee,jslemons,MPennington,NPeters,pjohnsony,rrogers,SherKim,Mean
11,2018-03-01,NaN,NaN,NaN,672.365320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,672.365320
12,2018-04-01,NaN,NaN,NaN,721.087020,NaN,NaN,NaN,NaN,737.015906,NaN,NaN,NaN,729.051463
9,2018-05-01,NaN,NaN,435.504345,723.190468,NaN,NaN,NaN,NaN,778.881531,627.709583,NaN,NaN,641.321482
10,2018-06-01,NaN,NaN,547.837679,711.641207,NaN,418.384311,NaN,NaN,748.750281,757.057798,NaN,NaN,636.734255
0,2018-07-01,735.779062,NaN,599.379345,747.222488,NaN,529.288031,NaN,616.002917,753.565906,875.730506,NaN,571.184970,678.519153
1,2018-08-01,816.485649,709.735662,621.278155,775.419532,637.834209,544.773807,598.943464,697.110060,733.162781,892.331696,NaN,646.029849,697.554988
2,2018-09-01,815.755110,764.826571,616.938869,769.446626,703.088446,542.193939,646.264893,692.623948,703.203406,892.516220,610.770678,642.126235,699.979578
3,2018-10-01,852.623373,802.935662,646.819821,796.899828,745.153418,561.957615,669.936321,722.735060,713.050281,936.843601,630.217006,664.201536,728.614460
4,2018-11-01,844.335948,792.987325,644.365536,792.116576,737.709915,559.460897,664.004179,719.992996,715.665906,924.275149,624.493249,657.308464,723.059678
5,2018-12-01,847.516866,790.719792,642.844643,792.399236,749.724181,559.283129,668.139000,718.365119,720.653406,928.064643,624.379887,660.855301,725.245434
6,2019-01-01,843.405090,789.797714,642.378988,790.514039,748.221695,558.775864,667.947036,717.733948,721.084656,920.405565,623.767373,661.127093,723.763255
7,2019-02-01,845.076567,792.246623,642.047917,793.490148,750.102599,558.512473,669.324643,716.650774,718.825875,921.256369,622.884661,661.117726,724.294698
8,2019-03-01,858.567585,813.981688,641.962500,803.803128,757.663390,557.129212,669.867571,716.297738,724.734719,939.399226,622.607090,661.063479,730.589777

In [6]:
# Get the data from the PV Watts --TMY2
list_parameters = {"formt": 'JSON', "api_key": "spJFj2l5ghY5jwk7dNfVYs3JHbpR6BOGHQNO8Y9Z", "system_capacity": 4, "module_type": 0, "losses": 14.08,
              "array_type": 0, "tilt": 50, "azimuth": 180, "lat": 61.21, "lon": -149.89, "dataset": 'tmy2'}
json_response = requests.get("https://developer.nrel.gov/api/pvwatts/v6", params = list_parameters).json()
TMY2 = pd.DataFrame(data = json_response['outputs'])
# Get the data from the PV Watts --TMY2
list_parameters = {"formt": 'JSON', "api_key": "spJFj2l5ghY5jwk7dNfVYs3JHbpR6BOGHQNO8Y9Z", "system_capacity": 4, "module_type": 0, "losses": 14.08,
              "array_type": 0, "tilt": 50, "azimuth": 180, "lat": 61.20, "lon": -149.73, "dataset": 'tmy3'}
json_response = requests.get("https://developer.nrel.gov/api/pvwatts/v6", params = list_parameters).json()
TMY3 = pd.DataFrame(data = json_response['outputs'])

In [7]:
Anchorage_17['TMY2'] = TMY2['ac_monthly']
Anchorage_17['TMY3'] = TMY3['ac_monthly']
#Anchorage_16.drop(['TMY2_annual','TMY3_annual'],axis = 1,inplace = True)
TMY2_low = TMY2['ac_annual'][2]*0.95/4
TMY2_high = TMY2['ac_annual'][2]*1.05/4

TMY3_low = TMY3['ac_annual'][2]*0.95/4
TMY3_high = TMY3['ac_annual'][2]*1.05/4

Anchorage_17['TMY2_low'] = TMY2_low
Anchorage_17['TMY2_high'] = TMY2_high
Anchorage_17['TMY3_low'] = TMY3_low
Anchorage_17['TMY3_high'] = TMY3_high

Anchorage_17

,Date,ARappoport,cwilcox,dgroth,JFredston,jreynold,jrpatee,jslemons,MPennington,NPeters,pjohnsony,rrogers,SherKim,Mean,TMY2,TMY3,TMY2_low,TMY2_high,TMY3_low,TMY3_high
11,2018-03-01,NaN,NaN,NaN,672.365320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,672.365320,60.685341,44.614124,877.099966,969.426279,900.56347,995.359625
12,2018-04-01,NaN,NaN,NaN,721.087020,NaN,NaN,NaN,NaN,737.015906,NaN,NaN,NaN,729.051463,NaN,NaN,877.099966,969.426279,900.56347,995.359625
9,2018-05-01,NaN,NaN,435.504345,723.190468,NaN,NaN,NaN,NaN,778.881531,627.709583,NaN,NaN,641.321482,191.927963,236.540344,877.099966,969.426279,900.56347,995.359625
10,2018-06-01,NaN,NaN,547.837679,711.641207,NaN,418.384311,NaN,NaN,748.750281,757.057798,NaN,NaN,636.734255,136.284302,87.460922,877.099966,969.426279,900.56347,995.359625
0,2018-07-01,735.779062,NaN,599.379345,747.222488,NaN,529.288031,NaN,616.002917,753.565906,875.730506,NaN,571.184970,678.519153,85.765381,61.794468,877.099966,969.426279,900.56347,995.359625
1,2018-08-01,816.485649,709.735662,621.278155,775.419532,637.834209,544.773807,598.943464,697.110060,733.162781,892.331696,NaN,646.029849,697.554988,197.449127,117.308784,877.099966,969.426279,900.56347,995.359625
2,2018-09-01,815.755110,764.826571,616.938869,769.446626,703.088446,542.193939,646.264893,692.623948,703.203406,892.516220,610.770678,642.126235,699.979578,380.000946,347.907990,877.099966,969.426279,900.56347,995.359625
3,2018-10-01,852.623373,802.935662,646.819821,796.899828,745.153418,561.957615,669.936321,722.735060,713.050281,936.843601,630.217006,664.201536,728.614460,438.154541,487.934784,877.099966,969.426279,900.56347,995.359625
4,2018-11-01,844.335948,792.987325,644.365536,792.116576,737.709915,559.460897,664.004179,719.992996,715.665906,924.275149,624.493249,657.308464,723.059678,526.374695,545.258545,877.099966,969.426279,900.56347,995.359625
5,2018-12-01,847.516866,790.719792,642.844643,792.399236,749.724181,559.283129,668.139000,718.365119,720.653406,928.064643,624.379887,660.855301,725.245434,487.822174,596.556274,877.099966,969.426279,900.56347,995.359625
6,2019-01-01,843.405090,789.797714,642.378988,790.514039,748.221695,558.775864,667.947036,717.733948,721.084656,920.405565,623.767373,661.127093,723.763255,473.140259,469.296326,877.099966,969.426279,900.56347,995.359625
7,2019-02-01,845.076567,792.246623,642.047917,793.490148,750.102599,558.512473,669.324643,716.650774,718.825875,921.256369,622.884661,661.117726,724.294698,390.505188,428.503082,877.099966,969.426279,900.56347,995.359625
8,2019-03-01,858.567585,813.981688,641.962500,803.803128,757.663390,557.129212,669.867571,716.297738,724.734719,939.399226,622.607090,661.063479,730.589777,324.943085,368.671173,877.099966,969.426279,900.56347,995.359625

In [8]:
# So now, let's try to draw a plot with checkbox
%matplotlib qt5
fig, ax = plt.subplots(figsize = (15, 8))
x = Anchorage_17['Date']


y_ARa = Anchorage_17['ARappoport']
l0, = ax.plot(x ,y_ARa,label='ARappoport')

y_cwi = Anchorage_17['cwilcox']
l1, = ax.plot(x ,y_cwi,label='cwilcox')


y_dgr = Anchorage_17['dgroth']
l2, = ax.plot(x ,y_dgr,label='dgroth')


y_JFr = Anchorage_17['JFredston']
l3, = ax.plot(x ,y_JFr,label='JFredston')

y_jre = Anchorage_17['jreynold']
l4, = ax.plot(x,y_jre,label='jreynold')


y_jrp = Anchorage_17['jrpatee']
l5, = ax.plot(x,y_jrp,label = 'jrpatee')

y_jsl = Anchorage_17['jslemons']
l6, = ax.plot(x,y_jsl,label='jslemons')

y_MPe = Anchorage_17['MPennington']
l7, = ax.plot(x,y_MPe,label = 'MPennington')

y_NPe = Anchorage_17['NPeters']
l8, = ax.plot(x,y_NPe,label = 'NPeters')

y_pjo = Anchorage_17['pjohnsony']
l9, = ax.plot(x,y_pjo,label = 'pjohnsony')

y_rro = Anchorage_17['rrogers']
l10, = ax.plot(x,y_rro,label='rrogers')

y_She = Anchorage_17['SherKim']
l11, = ax.plot(x,y_She,label='SherKim')

y_TMY2 = Anchorage_17['MPennington']
l12, = ax.plot(x,y_TMY2,'--',label = 'TMY2_ac_monthly')

y_TMY3 = Anchorage_17['TMY3']
l13, = ax.plot(x,y_TMY3,'--',label = 'TMY3_ac_monthly')

y_TMY2_low = Anchorage_17['TMY2_low']
l14, = ax.plot(x,y_TMY2_low,'--',label = 'TMY2_low')

y_TMY2_high = Anchorage_17['TMY2_high']
l15, = ax.plot(x,y_TMY2_high,'--',label = 'TMY2_high')

y_TMY3_low = Anchorage_17['TMY3_low']
l16, = ax.plot(x,y_TMY3_low,'-.',label = 'TMY3_low')

y_TMY3_high = Anchorage_17['TMY3_high']
l17, = ax.plot(x,y_TMY3_high,'-.',label = 'TMY3_high')

y_mean = Anchorage_17['Mean']
l18, = ax.plot(x,y_mean,label='Mean')

# # #ax.plot(x=range(len(result['Date'][49:90])),y = result['Mean'][49:90],label='Average')
# # #ax.plot(x=range(len(result['Date'][49:90])),y = result['TMY2_low'][49:90],label='TMY2_low') 
# #ax.plot(x=range(len(result['Date'][49:90])),y = result['TMY2_high'][49:90],label ='TMY2_high')

#this is where we can adjust the subplots side/top/buttom width
# tick_spacing = np.linspace(1, len(Anchorage_16.index)-1,12, dtype = 'int')
# Date_shown = []
# for i in tick_spacing:
#     Date_shown.append(Anchorage_16['Date'][i])
#ax.xticks(tick_spacing,Date_shown)
#plt.annotate('THY2_high',xy=(30,1072.991757),xytext=(32,1100),arrowprops=dict(facecolor='black', shrink=0.05))
#plt.annotate('THY2_low',xy=(10,970.802066),xytext=(6,930),arrowprops=dict(facecolor='black', shrink=0.05))
# ax.set_xticks(tick_spacing)
ax.set_title("Rolling 12-Month Average of Produced Power, Over Time", size = 18)
ax.set_xlabel("Month", size = 14)
ax.set_ylabel("AC Power Produced (kWh) per DC Power Installed (kW)", size = 14)
ax.legend()


plt.subplots_adjust(left=0.2)
lines = [l0, l1, l2, l3, l4, l5, l6, l7, l8, l9, l10, l11, l12, l13, l14, l15, l16, l17, l18]

# Make checkbuttons with all plotted lines with correct visibility
rax = plt.axes([0.005, 0.48, 0.15, 0.4])
labels = [str(line.get_label()) for line in lines]
visibility = [line.get_visible() for line in lines]
check = CheckButtons(rax, labels, visibility)


def func(label):
    index = labels.index(label)
    lines[index].set_visible(not lines[index].get_visible())
    plt.draw()

check.on_clicked(func)


# Some 

plt.show()

#Ok,this seems to be fine,maybe we will talk about it after.

/miniconda3/lib/python3.7/site-packages/pandas/plotting/_converter.py:129: FutureWarning: Using an implicitly registered datetime converter for a matplotlib plotting method. The converter was registered by pandas on import. Future versions of pandas will require you to explicitly register matplotlib converters.

To register the converters:
	>>> from pandas.plotting import register_matplotlib_converters
	>>> register_matplotlib_converters()
  warnings.warn(msg, FutureWarning)