In [1]:
import numpy as np
import pandas as pd
import csv_figures
from csv_figures import add_time_col
from csv_figures import annual_Norm
import matplotlib.pyplot as plt
import requests
from matplotlib.widgets import CheckButtons

In [2]:
ruby_health = pd.read_excel('../../Cleaned_data/RuralAk/RuralAK_Ruby_Health_Clinic_cleaned.xlsx')
ruby_W = pd.read_excel('../../Cleaned_data/RuralAk/RuralAK_Ruby_Washeterial_cleaned.xlsx')

In [3]:
ruby_health_new = add_time_col(ruby_health)
ruby_W_new = add_time_col(ruby_W)

/Users/guge/Desktop/acep-solar/new/ACEP_solar/GEGU/figures/csv_figures.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  dataframe['Date'][i] = str(dataframe['Year'][i]) + '-' + str(dataframe['Month'][i])

In [4]:
health_annual_values,health_month = annual_Norm(ruby_health_new)
w_annual_values,w_month = annual_Norm(ruby_W_new)

In [5]:
new_health = pd.DataFrame({'Date':health_month,'ruby_health':health_annual_values})
new_w = pd.DataFrame({'Date':w_month,'ruby_W':w_annual_values})

In [6]:
Ruby = pd.merge(new_health,new_w,on='Date',how='outer')
Ruby = Ruby.sort_values(by = ['Date'])

In [7]:
# Get the data from the PV Watts --TMY2
list_parameters = {"formt": 'JSON', "api_key": "spJFj2l5ghY5jwk7dNfVYs3JHbpR6BOGHQNO8Y9Z", "system_capacity": 5.5, "module_type": 0, "losses": 14.08,
              "array_type": 0, "tilt": 50, "azimuth": 180, "lat": 64.73, "lon": -155.48, "dataset": 'tmy2'}
json_response = requests.get("https://developer.nrel.gov/api/pvwatts/v6", params = list_parameters).json()
TMY2 = pd.DataFrame(data = json_response['outputs'])
# Get the data from the PV Watts --TMY2
list_parameters = {"formt": 'JSON', "api_key": "spJFj2l5ghY5jwk7dNfVYs3JHbpR6BOGHQNO8Y9Z", "system_capacity": 5.5, "module_type": 0, "losses": 14.08,
              "array_type": 0, "tilt": 50, "azimuth": 180, "lat": 64.73, "lon": -155.48, "dataset": 'tmy3'}
json_response = requests.get("https://developer.nrel.gov/api/pvwatts/v6", params = list_parameters).json()
TMY3 = pd.DataFrame(data = json_response['outputs'])

In [8]:
# TMY2_low = TMY2['ac_annual'][2]*0.95/80
# TMY2_high = TMY2['ac_annual'][2]*1.05/80

TMY3_low = TMY3['ac_annual'][2]*0.95/5.5
TMY3_high = TMY3['ac_annual'][2]*1.05/5.5

# new_fort['TMY2_low'] = TMY2_low
# new_fort['TMY2_high'] = TMY2_high
Ruby['TMY3_low'] = TMY3_low
Ruby['TMY3_high'] = TMY3_high
Ruby

         Date  ruby_health       ruby_W    TMY3_low   TMY3_high
14 2012-07-01          NaN   533.845000  888.899245  982.467587
15 2012-08-01          NaN   611.499074  888.899245  982.467587
16 2012-09-01          NaN   629.764630  888.899245  982.467587
17 2012-10-01          NaN   660.410185  888.899245  982.467587
18 2012-11-01          NaN   710.095370  888.899245  982.467587
19 2012-12-01          NaN   728.702222  888.899245  982.467587
20 2013-01-01          NaN   729.123148  888.899245  982.467587
21 2013-02-01          NaN   734.703333  888.899245  982.467587
22 2013-03-01          NaN   761.260185  888.899245  982.467587
23 2013-04-01          NaN   822.848889  888.899245  982.467587
24 2013-05-01          NaN   958.072963  888.899245  982.467587
25 2013-06-01          NaN  1029.744630  888.899245  982.467587
26 2013-07-01          NaN  1026.297222  888.899245  982.467587
27 2013-08-01          NaN  1028.819815  888.899245  982.467587
28 2013-09-01          NaN  1048.750926  888.899245  982.467587
29 2013-10-01          NaN  1029.982407  888.899245  982.467587
30 2013-11-01          NaN   990.420926  888.899245  982.467587
31 2013-12-01          NaN   979.983148  888.899245  982.467587
32 2014-01-01          NaN   980.111667  888.899245  982.467587
33 2014-02-01          NaN   978.232407  888.899245  982.467587
34 2014-03-01          NaN   982.365185  888.899245  982.467587
35 2014-04-01          NaN   971.269444  888.899245  982.467587
36 2014-05-01          NaN   938.803333  888.899245  982.467587
37 2014-06-01          NaN   879.775000  888.899245  982.467587
38 2014-07-01          NaN   848.128889  888.899245  982.467587
39 2014-08-01          NaN   856.257963  888.899245  982.467587
40 2014-09-01          NaN   842.161667  888.899245  982.467587
41 2014-10-01          NaN   850.344444  888.899245  982.467587
42 2014-11-01          NaN   874.213889  888.899245  982.467587
43 2014-12-01          NaN   880.342037  888.899245  982.467587
44 2015-01-01          NaN   879.930000  888.899245  982.467587
45 2015-02-01          NaN   880.721852  888.899245  982.467587
0  2015-03-01   688.418182   867.434444  888.899245  982.467587
1  2015-04-01   714.963636   850.726111  888.899245  982.467587
2  2015-05-01   710.963636          NaN  888.899245  982.467587
3  2015-06-01   711.509091          NaN  888.899245  982.467587
4  2015-07-01   736.236364          NaN  888.899245  982.467587
5  2015-08-01   749.509091          NaN  888.899245  982.467587
6  2015-09-01   715.690909          NaN  888.899245  982.467587
7  2015-10-01   693.327273          NaN  888.899245  982.467587
8  2015-11-01   688.418182          NaN  888.899245  982.467587
9  2015-12-01   687.396364          NaN  888.899245  982.467587
10 2016-01-01   687.381818          NaN  888.899245  982.467587
11 2016-02-01   688.290909          NaN  888.899245  982.467587
12 2016-03-01   701.745455          NaN  888.899245  982.467587
13 2016-04-01   705.018182          NaN  888.899245  982.467587

In [9]:
%matplotlib qt5
fig, ax = plt.subplots(figsize = (15, 8))
x = Ruby['Date']


y_health = Ruby['ruby_health']
l0, = ax.plot(x ,y_health,label='Health_clinic')

y_washeterial = Ruby['ruby_W']
l0, = ax.plot(x ,y_washeterial,label='Washeterial')

y_TMY3_low = Ruby['TMY3_low']
l1, = ax.plot(x,y_TMY3_low,'-.',label = 'TMY3_low')

y_TMY3_high = Ruby['TMY3_high']
l2, = ax.plot(x,y_TMY3_high,'-.',label = 'TMY3_high')

ax.set_title("Rolling 12-Month Average of Produced Power, Over Time", size = 18)
ax.set_xlabel("Month", size = 14)
ax.set_ylabel("AC Power Produced (kWh) per DC Power Installed (kW)", size = 14)
ax.legend()


plt.subplots_adjust(left=0.2)
lines = [l0, l1, l2]

# Make checkbuttons with all plotted lines with correct visibility
rax = plt.axes([0.005, 0.48, 0.15, 0.4])
labels = [str(line.get_label()) for line in lines]
visibility = [line.get_visible() for line in lines]
check = CheckButtons(rax, labels, visibility)


def func(label):
    index = labels.index(label)
    lines[index].set_visible(not lines[index].get_visible())
    plt.draw()

check.on_clicked(func)


# Some 

plt.show()

#Ok,this seems to be fine,maybe we will talk about it after.

/miniconda3/lib/python3.7/site-packages/pandas/plotting/_converter.py:129: FutureWarning: Using an implicitly registered datetime converter for a matplotlib plotting method. The converter was registered by pandas on import. Future versions of pandas will require you to explicitly register matplotlib converters.

To register the converters:
	>>> from pandas.plotting import register_matplotlib_converters
	>>> register_matplotlib_converters()
  warnings.warn(msg, FutureWarning)