In [35]:
import numpy as np
import pandas as pd
import csv_figures
from csv_figures import add_time_col
from csv_figures import annual_Norm
import matplotlib.pyplot as plt
import requests
from matplotlib.widgets import CheckButtons

In [36]:
ambler_ira = pd.read_excel('../../Cleaned_data/RuralAk/RuralAK_Ambler_IRA_cleaned.xlsx')
ambler_water = pd.read_excel('../../Cleaned_data/RuralAk/RuralAK_Ambler_Water_Treatment_cleaned.xlsx')
#bethel = pd.read_excel('../../Cleaned_data/RuralAk/RuralAK_Bethel_cleaned.xlsx')
cchrc_sharp = pd.read_excel('../../Cleaned_data/RuralAk/RuralAK_CCHRC_Sharp170_cleaned.xlsx')
cchrc_solar165 = pd.read_excel('../../Cleaned_data/RuralAk/RuralAK_CCHRC_SolarWolrd165_fixed_cleaned.xlsx')
#deering = pd.read_excel('../../Cleaned_data/RuralAk/RuralAK_Deering_cleaned.xlsx')
fort_yukon = pd.read_excel('../../Cleaned_data/RuralAk/RuralAK_Fort_Yukon_cleaned.xlsx')
#galena = pd.read_excel('../../Cleaned_data/RuralAk/RuralAK_Galena_cleaned.xlsx')(common error)
#kobuk = pd.read_excel('../../Cleaned_data/RuralAk/RuralAK_Kobuk_cleaned.xlsx')
koyukuk = pd.read_excel('../../Cleaned_data/RuralAk/RuralAK_Koyukuk.xlsx')
manley = pd.read_excel('../../Cleaned_data/RuralAk/RuralAK_Manley_Tribal_Council_cleaned.xlsx')
nenana = pd.read_excel('../../Cleaned_data/RuralAk/RuralAK_Nenana_cleaned.xlsx')
#nootak = pd.read_excel('../../Cleaned_data/RuralAk/RuralAK_Nootak_cleaned.xlsx')
#norvilk = pd.read_excel('../../Cleaned_data/RuralAk/RuralAK_Norvik_cleaned.xlsx')
ruby_health = pd.read_excel('../../Cleaned_data/RuralAk/RuralAK_Ruby_Health_Clinic_cleaned.xlsx')
ruby_W = pd.read_excel('../../Cleaned_data/RuralAk/RuralAK_Ruby_Washeterial_cleaned.xlsx')
#shungnak = pd.read_excel('../../Cleaned_data/RuralAk/RuralAK_Shungnak_cleaned.xlsx')

In [38]:
ambler_ira_new = add_time_col(ambler_ira)
ambler_water_new = add_time_col(ambler_water)
cchrc_sharp_new = add_time_col(cchrc_sharp)
cchrc_solar165_new = add_time_col(cchrc_solar165)
fort_yukon_new = add_time_col(fort_yukon)
koyukuk_new = add_time_col(koyukuk)
manley_new = add_time_col(manley)
nenana_new = add_time_col(nenana)
ruby_health_new = add_time_col(ruby_health)
ruby_W_new = add_time_col(ruby_W)

/Users/guge/Desktop/acep-solar/new/ACEP_solar/GEGU/figures/csv_figures.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  dataframe['Date'][i] = str(dataframe['Year'][i]) + '-' + str(dataframe['Month'][i])

In [39]:
air_annual_values,air_month = annual_Norm(ambler_ira_new)
water_annual_values,water_month = annual_Norm(ambler_water_new)
sharp_annual_values,sharp_month = annual_Norm(cchrc_sharp_new)
solar_annual_values,solar_month = annual_Norm(cchrc_solar165_new)
fort_annual_values,fort_month = annual_Norm(fort_yukon_new)
koyukuk_annual_values,koyukuk_month = annual_Norm(koyukuk_new)
manley_annual_values,manley_month = annual_Norm(manley_new)
nenana_annual_values,nenana_month = annual_Norm(nenana_new)
health_annual_values,health_month = annual_Norm(ruby_health_new)
w_annual_values,w_month = annual_Norm(ruby_W_new)

In [40]:
new_air = pd.DataFrame({'Date':air_month,'ambler_ira':air_annual_values})
new_water = pd.DataFrame({'Date':water_month,'ambler_water':water_annual_values})
new_sharp = pd.DataFrame({'Date':sharp_month,'cchrc_sharp':sharp_annual_values})
new_solar = pd.DataFrame({'Date':solar_month,'cchrc_solar165':solar_annual_values})
new_fort = pd.DataFrame({'Date':fort_month,'fort_yukon':fort_annual_values})
new_koyukuk = pd.DataFrame({'Date':koyukuk_month,'koyukuk':koyukuk_annual_values})
new_manley = pd.DataFrame({'Date':manley_month,'manley':manley_annual_values})
new_nenana = pd.DataFrame({'Date':nenana_month,'nenana':nenana_annual_values})
new_health = pd.DataFrame({'Date':health_month,'ruby_health':health_annual_values})
new_w = pd.DataFrame({'Date':w_month,'ruby_W':w_annual_values})

In [41]:
result = pd.merge(new_air,new_water,on='Date',how='outer')
result = pd.merge(result,new_sharp,on='Date',how='outer')
result = pd.merge(result,new_solar,on='Date',how='outer')
result = pd.merge(result,new_fort,on='Date',how='outer')
result = pd.merge(result,new_koyukuk,on='Date',how='outer')
result = pd.merge(result,new_manley,on='Date',how='outer')
result = pd.merge(result,new_nenana,on='Date',how='outer')
RuralAK = pd.merge(result,new_health,on='Date',how='outer')
# result = pd.merge(result,new_solar,on='Date',how='outer')
# result = pd.merge(result,new_fort,on='Date',how='outer')

In [42]:
RuralAK['Mean'] = RuralAK.mean(axis=1)
RuralAK = RuralAK.sort_values(by = ['Date'])
RuralAK

,Date,ambler_ira,ambler_water,cchrc_sharp,cchrc_solar165,fort_yukon,koyukuk,manley,nenana,ruby_health,Mean
70,2012-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1089.194318,NaN,1089.194318
71,2012-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1095.051818,NaN,1095.051818
72,2012-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1093.367500,NaN,1093.367500
73,2012-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1032.012727,NaN,1032.012727
74,2012-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1035.561364,NaN,1035.561364
75,2012-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1015.326591,NaN,1015.326591
76,2012-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1015.327045,NaN,1015.327045
77,2012-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1014.369091,NaN,1014.369091
78,2012-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1010.930000,NaN,1010.930000
79,2012-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,990.063864,NaN,990.063864
80,2012-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,999.123636,NaN,999.123636
81,2012-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1007.190455,NaN,1007.190455
82,2013-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1007.869545,NaN,1007.869545
83,2013-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1007.431818,NaN,1007.431818
84,2013-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.259318,NaN,1000.259318
85,2013-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1017.486364,NaN,1017.486364
86,2013-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1022.121364,NaN,1022.121364
69,2013-06-01,NaN,NaN,NaN,NaN,NaN,462.193411,NaN,1060.420455,NaN,761.306933
64,2013-07-01,NaN,NaN,1403.161765,1454.166667,NaN,587.962209,NaN,1082.698864,NaN,1131.997376
65,2013-08-01,NaN,NaN,1430.367647,1483.712121,NaN,546.351357,NaN,1086.332273,NaN,1136.690849
66,2013-09-01,NaN,NaN,1431.102941,1485.227273,NaN,532.217054,NaN,1096.152727,NaN,1136.174999
67,2013-10-01,NaN,NaN,1426.323529,1481.060606,NaN,503.838178,NaN,1086.035455,NaN,1124.314442
68,2013-11-01,NaN,NaN,1409.411765,1462.878788,NaN,479.054070,NaN,1062.008636,NaN,1103.338315
0,2013-12-01,177823.636364,NaN,1402.794118,1456.818182,NaN,480.522674,NaN,1052.864091,NaN,36443.327086
1,2014-01-01,177839.545455,NaN,1402.573529,1456.628788,NaN,487.045155,NaN,1052.431136,NaN,36447.644813
2,2014-02-01,177790.454545,NaN,1406.250000,1459.280303,NaN,494.212791,NaN,1054.210909,NaN,36440.881710
3,2014-03-01,178720.454545,831.071429,1427.573529,1477.840909,NaN,502.977326,NaN,1085.197045,NaN,30674.185797
4,2014-04-01,182742.727273,816.190476,1436.397059,1489.204545,NaN,521.637016,NaN,1117.277273,NaN,31353.905607
5,2014-05-01,181585.000000,773.452381,1446.691176,1492.992424,NaN,591.093605,NaN,1108.552045,NaN,31166.296939
6,2014-06-01,174751.818182,705.476190,1389.338235,1434.280303,NaN,600.441667,NaN,1066.407500,NaN,29991.293680
...,...,...,...,...,...,...,...,...,...,...,...
34,2016-10-01,NaN,595.952381,NaN,NaN,887.238111,1037.012597,NaN,874.284545,NaN,848.621909
35,2016-11-01,NaN,600.119048,NaN,NaN,938.127556,1089.401550,NaN,891.024318,NaN,879.668118
36,2016-12-01,NaN,602.023810,NaN,NaN,943.689778,1098.164341,NaN,888.102045,NaN,882.994993
37,2017-01-01,NaN,602.023810,NaN,NaN,943.756444,1100.000000,NaN,887.931818,NaN,883.428018
38,2017-02-01,NaN,599.761905,NaN,NaN,945.916667,1098.837209,NaN,887.931818,NaN,883.111900
39,2017-03-01,NaN,586.190476,NaN,NaN,941.527778,1072.674419,NaN,888.045455,NaN,872.109532
40,2017-04-01,NaN,588.809524,NaN,NaN,987.972222,1089.922481,NaN,885.681818,NaN,888.096511
41,2017-05-01,NaN,599.285714,NaN,NaN,1026.083333,1092.054264,NaN,944.545455,NaN,915.492191
42,2017-06-01,NaN,612.142857,NaN,NaN,1032.027778,1120.542636,NaN,961.818182,NaN,931.632863
43,2017-07-01,NaN,615.714286,NaN,NaN,1074.805556,1134.302326,NaN,952.272727,NaN,944.273724
44,2017-08-01,NaN,625.595238,NaN,NaN,1096.527778,1162.015504,NaN,926.590909,NaN,952.682357
45,2017-09-01,NaN,620.238095,NaN,NaN,1074.194444,1149.806202,NaN,874.545455,NaN,929.696049
46,2017-10-01,NaN,607.619048,NaN,NaN,NaN,1130.620155,NaN,876.818182,NaN,871.685795
47,2017-11-01,NaN,594.880952,NaN,NaN,NaN,1087.596899,NaN,836.818182,NaN,839.765344
48,2017-12-01,NaN,593.214286,NaN,NaN,NaN,1084.302326,NaN,834.659091,NaN,837.391901
49,2018-01-01,NaN,593.095238,NaN,NaN,NaN,1082.461240,NaN,834.659091,NaN,836.738523
50,2018-02-01,NaN,595.119048,NaN,NaN,NaN,1079.573643,NaN,834.659091,NaN,836.450594
51,2018-03-01,NaN,598.214286,NaN,NaN,NaN,1073.062016,NaN,834.431818,NaN,835.236040
52,2018-04-01,NaN,568.452381,NaN,NaN,NaN,925.581395,NaN,830.636364,NaN,774.890047
53,2018-05-01,NaN,565.714286,NaN,NaN,NaN,890.116279,NaN,700.181818,NaN,718.670794
54,2018-06-01,NaN,562.142857,NaN,NaN,NaN,851.356589,NaN,721.772727,NaN,711.757391
55,2018-07-01,NaN,557.380952,NaN,NaN,NaN,840.891473,NaN,709.500000,NaN,702.590808
56,2018-08-01,NaN,548.809524,NaN,NaN,NaN,843.023256,NaN,711.318182,NaN,701.050320
57,2018-09-01,NaN,531.547619,NaN,NaN,NaN,815.503876,NaN,749.954545,NaN,699.002013
58,2018-10-01,NaN,534.642857,NaN,NaN,NaN,810.465116,NaN,780.181818,NaN,708.429931
59,2018-11-01,NaN,548.214286,NaN,NaN,NaN,825.000000,NaN,800.863636,NaN,724.692641
60,2018-12-01,NaN,553.333333,NaN,NaN,NaN,821.899225,NaN,800.977273,NaN,725.403277
61,2019-01-01,NaN,553.214286,NaN,NaN,NaN,821.802326,NaN,NaN,NaN,687.508306
62,2019-02-01,NaN,551.547619,NaN,NaN,NaN,825.271318,NaN,NaN,NaN,688.409468
63,2019-03-01,NaN,551.309524,NaN,NaN,NaN,837.209302,NaN,NaN,NaN,694.259413

In [ ]:
# Get the data from the PV Watts --TMY2
list_parameters = {"formt": 'JSON', "api_key": "spJFj2l5ghY5jwk7dNfVYs3JHbpR6BOGHQNO8Y9Z", "system_capacity": 14, "module_type": 0, "losses": 14.08,
              "array_type": 0, "tilt": 50, "azimuth": 180, "lat": 61.21, "lon": -149.89, "dataset": 'tmy2'}
json_response = requests.get("https://developer.nrel.gov/api/pvwatts/v6", params = list_parameters).json()
TMY2 = pd.DataFrame(data = json_response['outputs'])
# Get the data from the PV Watts --TMY2
list_parameters = {"formt": 'JSON', "api_key": "spJFj2l5ghY5jwk7dNfVYs3JHbpR6BOGHQNO8Y9Z", "system_capacity": 14, "module_type": 0, "losses": 14.08,
              "array_type": 0, "tilt": 50, "azimuth": 180, "lat": 61.20, "lon": -149.73, "dataset": 'tmy3'}
json_response = requests.get("https://developer.nrel.gov/api/pvwatts/v6", params = list_parameters).json()
TMY3 = pd.DataFrame(data = json_response['outputs'])