In [2]:
import numpy as np
import pandas as pd
import csv_figures
from csv_figures import add_time_col
from csv_figures import annual_Norm
import matplotlib.pyplot as plt
import requests
from matplotlib.widgets import CheckButtons

In [3]:
a = pd.read_csv('../../Cleaned_data/data/10611Tahneeta.csv')

In [4]:
a

                     Date/Time  Energy Produced (Wh)
0    2017-06-02 00:00:00 -0800                 11130
1    2017-06-03 00:00:00 -0800                 19115
2    2017-06-04 00:00:00 -0800                  5566
3    2017-06-05 00:00:00 -0800                 13087
4    2017-06-06 00:00:00 -0800                  7775
5    2017-06-07 00:00:00 -0800                  7973
6    2017-06-08 00:00:00 -0800                  7224
7    2017-06-09 00:00:00 -0800                 10031
8    2017-06-10 00:00:00 -0800                  2767
9    2017-06-11 00:00:00 -0800                 16037
10   2017-06-12 00:00:00 -0800                  6970
11   2017-06-13 00:00:00 -0800                 10668
12   2017-06-14 00:00:00 -0800                 15570
13   2017-06-15 00:00:00 -0800                 19753
14   2017-06-16 00:00:00 -0800                 16504
15   2017-06-17 00:00:00 -0800                 13172
16   2017-06-18 00:00:00 -0800                 12448
17   2017-06-19 00:00:00 -0800                  7162
18   2017-06-20 00:00:00 -0800                  6454
19   2017-06-21 00:00:00 -0800                  9937
20   2017-06-22 00:00:00 -0800                  3517
21   2017-06-23 00:00:00 -0800                  4961
22   2017-06-24 00:00:00 -0800                 16315
23   2017-06-25 00:00:00 -0800                 17009
24   2017-06-26 00:00:00 -0800                  5797
25   2017-06-27 00:00:00 -0800                  3742
26   2017-06-28 00:00:00 -0800                  9022
27   2017-06-29 00:00:00 -0800                  3511
28   2017-06-30 00:00:00 -0800                 11006
29   2017-07-01 00:00:00 -0800                  6476
..                         ...                   ...
664  2019-03-28 00:00:00 -0800                  8283
665  2019-03-29 00:00:00 -0800                  4483
666  2019-03-30 00:00:00 -0800                  9299
667  2019-03-31 00:00:00 -0800                  9396
668  2019-04-01 00:00:00 -0800                  9758
669  2019-04-02 00:00:00 -0800                  7317
670  2019-04-03 00:00:00 -0800                 10214
671  2019-04-04 00:00:00 -0800                  4246
672  2019-04-05 00:00:00 -0800                 10158
673  2019-04-06 00:00:00 -0800                  8345
674  2019-04-07 00:00:00 -0800                  3498
675  2019-04-08 00:00:00 -0800                  5933
676  2019-04-09 00:00:00 -0800                  5814
677  2019-04-10 00:00:00 -0800                  6781
678  2019-04-11 00:00:00 -0800                  2827
679  2019-04-12 00:00:00 -0800                  7894
680  2019-04-13 00:00:00 -0800                 10674
681  2019-04-14 00:00:00 -0800                 11275
682  2019-04-15 00:00:00 -0800                 11821
683  2019-04-16 00:00:00 -0800                  4761
684  2019-04-17 00:00:00 -0800                  2224
685  2019-04-18 00:00:00 -0800                  1999
686  2019-04-19 00:00:00 -0800                  4585
687  2019-04-20 00:00:00 -0800                  3011
688  2019-04-21 00:00:00 -0800                  4529
689  2019-04-22 00:00:00 -0800                   155
690  2019-04-23 00:00:00 -0800                  4344
691  2019-04-24 00:00:00 -0800                  7415
692  2019-04-25 00:00:00 -0800                 11631
693                      Total               3058931

[694 rows x 2 columns]