### This notebook try to figure out a way to get the time series that can be sorted by python

In [9]:
import pandas as pd
import numpy as np
import datetime

In [61]:
nortech = pd.read_excel('Cleaned_data/nortech_6.6kw_tracking_cleaned.xlsx')
nortech = nortech.fillna("")
uaf = pd.read_excel('Cleaned_data/uaf_fairbanks_cleaned.xlsx')
uaf = uaf.fillna("")

In [33]:
# for i in range(len(nortech.index)):
#     if nortech['Month'][i] == 'November':
#           nortech['Month'][i] =nortech['Month'][i].replace('November','1')
#           print(nortech['Month'][i])

In [56]:
# get a column ['Date'],which is in the format of 'Year_month'
def change_month(dataframe):
    Month_change = {'November':11,'December':12,'January':1,'February':2,'March':3,'April':4,'May':5,'June':6,'July':7,'August':8,'September':9,'October':10}
    dataframe['Month'] = dataframe['Month'].map(Month_change)
    return(dataframe)


def create_date(dataframe):
    dataframe['Date'] = ""
    for i in range(len(dataframe)):
        dataframe['Date'][i] = str(dataframe['Year'][i]) + '-' + str(dataframe['Month'][i])
    dataframe.drop(['Year','Month'],axis = 1,inplace = True)
    order = ['Date','Energy','DC Capacity','Location']
    dataframe_new = dataframe[order]
    return(dataframe_new)

In [57]:
def add_time_col(dataframe):
    change_month(dataframe)
    create_date(dataframe)
    return(dataframe_new)

In [60]:
def add_time_col(dataframe):
    Month_change = {'November':11,'December':12,'January':1,'February':2,'March':3,'April':4,'May':5,'June':6,'July':7,'August':8,'September':9,'October':10}
    dataframe['Month'] = dataframe['Month'].map(Month_change)
    dataframe['Date'] = ""
    for i in range(len(dataframe)):
        dataframe['Date'][i] = str(dataframe['Year'][i]) + '-' + str(dataframe['Month'][i])
    dataframe.drop(['Year','Month'],axis = 1,inplace = True)
    order = ['Date','Energy','DC Capacity','Location']
    dataframe_new = dataframe[order]
    
    return(dataframe_new)

In [63]:
add_time_col(nortech)

/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

       Date   Energy DC Capacity   Location
0   2014-11    20.22         6.6  Fairbanks
1   2014-12     2.83
2    2015-1    57.47
3    2015-2   215.92
4    2015-3   928.97
5    2015-4  1332.11
6    2015-5  1479.90
7    2015-6  1233.17
8    2015-7  1087.13
9    2015-8   777.93
10   2015-9   520.24
11  2015-10   416.43
12  2015-11    13.73
13  2015-12     8.03
14   2016-1    45.18
15   2016-2   374.27
16   2016-3   858.71
17   2016-4  1137.44
18   2016-5  1146.16
19   2016-6  1222.94
20   2016-7  1015.14
21   2016-8  1018.37
22   2016-9   603.98
23  2016-10   355.67
24  2016-11    69.65
25  2016-12     4.66
26   2017-1     5.66
27   2017-2   191.78
28   2017-3  1158.26
29   2017-4  1533.42
30   2017-5  1377.63
31   2017-6  1463.75
32   2017-7  1185.17
33   2017-8   786.86
34   2017-9   571.21
35  2017-10   188.65
36  2017-11    22.45
37  2017-12     2.69
38   2018-1    16.64
39   2018-2   199.69
40   2018-3   654.55
41   2018-4  1247.52
42   2018-5  1249.01
43   2018-6  1218.64
44   2018-7  1306.23
45   2018-8   601.64
46   2018-9   594.83
47  2018-10   366.58
48  2018-11    38.24
49  2018-12     0.00
50   2019-1     7.19
51   2019-2   237.79
52   2019-3   687.55
53   2019-4   361.54

In [64]:
nortech['Date'] = pd.to_datetime(nortech['Date'])

In [65]:
nortech

     Energy DC Capacity   Location Tracking       Date
0     20.22         6.6  Fairbanks      Yes 2014-11-01
1      2.83                                 2014-12-01
2     57.47                                 2015-01-01
3    215.92                                 2015-02-01
4    928.97                                 2015-03-01
5   1332.11                                 2015-04-01
6   1479.90                                 2015-05-01
7   1233.17                                 2015-06-01
8   1087.13                                 2015-07-01
9    777.93                                 2015-08-01
10   520.24                                 2015-09-01
11   416.43                                 2015-10-01
12    13.73                                 2015-11-01
13     8.03                                 2015-12-01
14    45.18                                 2016-01-01
15   374.27                                 2016-02-01
16   858.71                                 2016-03-01
17  1137.44                                 2016-04-01
18  1146.16                                 2016-05-01
19  1222.94                                 2016-06-01
20  1015.14                                 2016-07-01
21  1018.37                                 2016-08-01
22   603.98                                 2016-09-01
23   355.67                                 2016-10-01
24    69.65                                 2016-11-01
25     4.66                                 2016-12-01
26     5.66                                 2017-01-01
27   191.78                                 2017-02-01
28  1158.26                                 2017-03-01
29  1533.42                                 2017-04-01
30  1377.63                                 2017-05-01
31  1463.75                                 2017-06-01
32  1185.17                                 2017-07-01
33   786.86                                 2017-08-01
34   571.21                                 2017-09-01
35   188.65                                 2017-10-01
36    22.45                                 2017-11-01
37     2.69                                 2017-12-01
38    16.64                                 2018-01-01
39   199.69                                 2018-02-01
40   654.55                                 2018-03-01
41  1247.52                                 2018-04-01
42  1249.01                                 2018-05-01
43  1218.64                                 2018-06-01
44  1306.23                                 2018-07-01
45   601.64                                 2018-08-01
46   594.83                                 2018-09-01
47   366.58                                 2018-10-01
48    38.24                                 2018-11-01
49     0.00                                 2018-12-01
50     7.19                                 2019-01-01
51   237.79                                 2019-02-01
52   687.55                                 2019-03-01
53   361.54                                 2019-04-01