In [1]:
from bokeh.plotting import figure, output_file, show
from bokeh.layouts import gridplot
import numpy as np

In [2]:
# prepare some data
x = [1, 2, 3, 4, 5]
y = [6, 7, 2, 4, 5]

# output to static HTML file
output_file("lines.html")

# create a new plot with a title and axis labels
p = figure(title="simple line example", x_axis_label='x', y_axis_label='y')

# add a line renderer with legend and line thickness
p.line(x, y, legend="Temp.", line_width=2)

# show the results
show(p)

In [3]:
#Let's get a bit fancier

In [4]:
# prepare some data
x = [0.1, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0]
y0 = [i**2 for i in x]
y1 = [10**i for i in x]
y2 = [10**(i**2) for i in x]

# output to static HTML file
output_file("log_lines.html")

# create a new plot
p = figure(
   tools="pan,box_zoom,reset,save",
   y_axis_type="log", y_range=[0.001, 10**11], title="log axis example",
   x_axis_label='sections', y_axis_label='particles'
)

# add some renderers
p.line(x, x, legend="y=x")
p.circle(x, x, legend="y=x", fill_color="white", size=8)
p.line(x, y0, legend="y=x^2", line_width=3)
p.line(x, y1, legend="y=10^x", line_color="red")
p.circle(x, y1, legend="y=10^x", fill_color="red", line_color="red", size=6)
p.line(x, y2, legend="y=10^x^2", line_color="orange", line_dash="4 4")

# show the results
show(p)

In [7]:
# prepare some data
N = 4000
x = np.random.random(size=N) * 100
y = np.random.random(size=N) * 100
radii = np.random.random(size=N) * 1.5
colors = [
    "#%02x%02x%02x" % (int(r), int(g), 150) for r, g in zip(50+2*x, 30+2*y)
]

# output to static HTML file (with CDN resources)
output_file("color_scatter.html", title="color_scatter.py example", mode="cdn")

TOOLS = "crosshair,pan,wheel_zoom,box_zoom,reset,box_select,lasso_select"

# create a new plot with the tools above, and explicit ranges
p = figure(tools=TOOLS, x_range=(0, 100), y_range=(0, 100))

# add a circle renderer with vectorized colors and sizes
p.circle(x, y, radius=radii, fill_color=colors, fill_alpha=0.6, line_color=None)

# show the results
show(p)

In [9]:
# prepare some data
N = 100
x = np.linspace(0, 4*np.pi, N)
y0 = np.sin(x)
y1 = np.cos(x)
y2 = np.sin(x) + np.cos(x)

# output to static HTML file
output_file("linked_panning.html")

# create a new plot
s1 = figure(width=250, plot_height=250, title=None)
s1.circle(x, y0, size=10, color="navy", alpha=0.5)

# NEW: create a new plot and share both ranges
s2 = figure(width=250, height=250, x_range=s1.x_range, y_range=s1.y_range, title=None)
s2.triangle(x, y1, size=10, color="firebrick", alpha=0.5)

# NEW: create a new plot and share only one range
s3 = figure(width=250, height=250, x_range=s1.x_range, title=None)
s3.square(x, y2, size=10, color="olive", alpha=0.5)

# NEW: put the subplots in a gridplot
p = gridplot([[s1, s2, s3]], toolbar_location=None)

# show the results
show(p)

Ok, basic details aside - now let's dig into the interactive options that Bokeh has.

In [ ]:
#These lines are commented out, cause they only need run once. But you have to run them before the following lines.
# import bokeh
# bokeh.sampledata.download()

In [17]:
import pandas as pd

from bokeh.palettes import Spectral4
from bokeh.plotting import figure, output_file, show
from bokeh.sampledata.stocks import AAPL, IBM, MSFT, GOOG

p = figure(plot_width=800, plot_height=250, x_axis_type="datetime")
p.title.text = 'Click on legend entries to hide the corresponding lines'

for data, name, color in zip([AAPL, IBM, MSFT, GOOG], ["AAPL", "IBM", "MSFT", "GOOG"], Spectral4):
    df = pd.DataFrame(data)
    df['date'] = pd.to_datetime(df['date'])
    p.line(df['date'], df['close'], line_width=2, color=color, alpha=0.8, legend=name)

p.legend.location = "top_left"
p.legend.click_policy="hide"

output_file("interactive_legend.html", title="interactive_legend.py example")

show(p)

In [10]:
from bokeh.palettes import Spectral4
from bokeh.plotting import figure, output_file, show
from bokeh.sampledata.stocks import AAPL, IBM, MSFT, GOOG

p = figure(plot_width=800, plot_height=250, x_axis_type="datetime")
p.title.text = 'Click on legend entries to mute the corresponding lines'

for data, name, color in zip([AAPL, IBM, MSFT, GOOG], ["AAPL", "IBM", "MSFT", "GOOG"], Spectral4):
    df = pd.DataFrame(data)
    df['date'] = pd.to_datetime(df['date'])
    p.line(df['date'], df['close'], line_width=2, color=color, alpha=0.8,
           muted_color=color, muted_alpha=0.2, legend=name)

p.legend.location = "top_left"
p.legend.click_policy="mute"

output_file("interactive_legend.html", title="interactive_legend.py example")

show(p)

I think that gets a bit of an understanding of what all is possible. I'm going to try to do the checkboxes now, and incorporate our actual data.

In [4]:
import pandas as pd
# from bokeh.io import output_file, show
# from bokeh.models.widgets import CheckboxGroup

# output_file("checkbox_group.html")

# checkbox_group = CheckboxGroup(
#         labels=["Option 1", "Option 2", "Option 3"], active=[0, 1])

# show(checkbox_group)

In [5]:
# First, try to read the csv file that contains the dataframe we want
fairbanks = pd.read_csv('Fairbanks_6panels')

In [6]:
fairbanks

,Unnamed: 0,Date,nortech,ff,uaf,mastellar,uaf_engineering,gillam,Mean
0,42,2011-10-01,NaN,679.035088,NaN,NaN,NaN,NaN,679.035088
1,43,2011-11-01,NaN,700.487719,NaN,NaN,NaN,NaN,700.487719
2,44,2011-12-01,NaN,701.610526,NaN,NaN,NaN,NaN,701.610526
3,45,2012-01-01,NaN,701.445614,NaN,NaN,NaN,NaN,701.445614
4,46,2012-02-01,NaN,696.663158,NaN,NaN,NaN,NaN,696.663158
5,47,2012-03-01,NaN,694.356140,NaN,NaN,NaN,NaN,694.356140
6,48,2012-04-01,NaN,662.954386,NaN,NaN,NaN,NaN,662.954386
7,49,2012-05-01,NaN,667.708772,NaN,NaN,NaN,NaN,667.708772
8,50,2012-06-01,NaN,652.491228,NaN,NaN,NaN,NaN,652.491228
9,51,2012-07-01,NaN,658.275439,NaN,NaN,NaN,NaN,658.275439
10,52,2012-08-01,NaN,652.705263,NaN,NaN,NaN,NaN,652.705263
11,53,2012-09-01,NaN,651.880702,NaN,NaN,NaN,NaN,651.880702
12,54,2012-10-01,NaN,636.561404,NaN,NaN,NaN,NaN,636.561404
13,55,2012-11-01,NaN,640.233333,NaN,NaN,NaN,NaN,640.233333
14,56,2012-12-01,NaN,646.657895,NaN,NaN,NaN,NaN,646.657895
15,57,2013-01-01,NaN,646.900000,NaN,NaN,NaN,NaN,646.900000
16,58,2013-02-01,NaN,647.159649,NaN,NaN,NaN,NaN,647.159649
17,59,2013-03-01,NaN,648.607018,NaN,NaN,NaN,NaN,648.607018
18,60,2013-04-01,NaN,657.210526,NaN,NaN,NaN,NaN,657.210526
19,61,2013-05-01,NaN,663.194737,NaN,NaN,NaN,NaN,663.194737
20,62,2013-06-01,NaN,680.507018,NaN,NaN,NaN,NaN,680.507018
21,63,2013-07-01,NaN,691.154386,NaN,NaN,NaN,NaN,691.154386
22,64,2013-08-01,NaN,702.477193,NaN,NaN,NaN,NaN,702.477193
23,65,2013-09-01,NaN,708.059649,NaN,NaN,NaN,NaN,708.059649
24,66,2013-10-01,NaN,707.996491,NaN,NaN,NaN,NaN,707.996491
25,67,2013-11-01,NaN,693.371930,NaN,NaN,NaN,NaN,693.371930
26,68,2013-12-01,NaN,689.643860,NaN,NaN,NaN,NaN,689.643860
27,69,2014-01-01,NaN,689.721053,NaN,NaN,NaN,NaN,689.721053
28,70,2014-02-01,NaN,694.568421,NaN,NaN,NaN,NaN,694.568421
29,71,2014-03-01,NaN,716.280702,NaN,NaN,NaN,NaN,716.280702
...,...,...,...,...,...,...,...,...,...
61,12,2016-11-01,1181.760606,668.010526,975.475287,NaN,1181.152381,837.528857,668.010526
62,13,2016-12-01,1190.233333,672.054386,991.590435,NaN,1198.418095,843.896000,672.054386
63,14,2017-01-01,1189.722727,671.894737,995.012679,NaN,1200.119048,843.917143,671.894737
64,15,2017-02-01,1183.734848,670.807018,987.900368,NaN,1191.526667,843.870571,670.807018
65,16,2017-03-01,1156.084848,654.424561,962.534148,NaN,1161.606667,833.890857,654.424561
66,17,2017-04-01,1201.471212,686.568421,1014.788364,NaN,1208.500000,733.979429,686.568421
67,18,2017-05-01,1261.468182,705.292982,1031.437106,NaN,1226.322857,750.157714,705.292982
68,19,2017-06-01,1296.539394,710.436842,1040.130716,NaN,1237.692381,757.577429,710.436842
69,20,2017-07-01,1333.025758,723.487719,1056.870346,NaN,1258.127619,779.107143,723.487719
70,21,2017-08-01,1358.787879,734.857895,1072.210146,NaN,1276.930476,795.396286,734.857895
71,22,2017-09-01,1323.710606,720.668421,1052.487247,NaN,1255.051429,781.769429,720.668421
72,23,2017-10-01,1318.745455,713.426316,1042.362602,NaN,1242.871429,772.618286,713.426316
73,24,2017-11-01,1293.439394,666.333333,966.186219,NaN,1151.508571,727.683714,666.333333
74,25,2017-12-01,1286.287879,661.115789,948.381045,NaN,1133.535238,721.571143,661.115789
75,26,2018-01-01,1285.989394,660.912281,941.087418,NaN,1125.974286,721.550000,660.912281
76,27,2018-02-01,1287.653030,662.175439,947.673836,NaN,1132.501905,721.534857,662.175439
77,28,2018-03-01,1288.851515,661.114035,951.444273,NaN,1135.115238,721.530000,661.114035
78,29,2018-04-01,1212.531818,628.001754,892.030116,NaN,1075.307619,721.666857,628.001754
79,30,2018-05-01,1169.213636,634.119298,899.345708,NaN,1077.347619,687.226286,634.119298
80,31,2018-06-01,1149.725758,628.194737,890.934894,NaN,1065.400000,682.060857,628.194737
81,32,2018-07-01,1112.587879,613.980702,874.903052,823.247405,1044.674286,660.889714,613.980702
82,33,2018-08-01,1130.930303,618.136842,883.102823,877.200378,1054.418095,667.781714,618.136842
83,34,2018-09-01,1102.866667,599.221053,862.652132,858.316708,1028.177143,642.905714,599.221053
84,35,2018-10-01,1106.445455,600.250877,862.655719,920.745142,1029.318095,645.417143,600.250877
85,36,2018-11-01,1133.404545,621.277193,891.816873,917.760045,1065.805714,665.534286,621.277193
86,37,2018-12-01,1135.796970,628.677193,903.585038,917.587566,1079.824762,674.226571,628.677193
87,38,2019-01-01,1135.389394,628.615789,902.533904,916.208595,1079.371429,674.239143,628.615789
88,39,2019-02-01,1133.957576,629.556140,902.804080,912.659946,1080.878095,674.292286,629.556140
89,40,2019-03-01,1139.730303,635.824561,899.570197,920.871639,1080.111429,674.354857,635.824561
90,41,2019-04-01,1144.730303,621.400000,884.582704,892.878329,1068.550476,723.855714,621.400000

In [7]:
fairbanks['Date'] = pd.to_datetime(fairbanks['Date'])
fairbanks

,Unnamed: 0,Date,nortech,ff,uaf,mastellar,uaf_engineering,gillam,Mean
0,42,2011-10-01,NaN,679.035088,NaN,NaN,NaN,NaN,679.035088
1,43,2011-11-01,NaN,700.487719,NaN,NaN,NaN,NaN,700.487719
2,44,2011-12-01,NaN,701.610526,NaN,NaN,NaN,NaN,701.610526
3,45,2012-01-01,NaN,701.445614,NaN,NaN,NaN,NaN,701.445614
4,46,2012-02-01,NaN,696.663158,NaN,NaN,NaN,NaN,696.663158
5,47,2012-03-01,NaN,694.356140,NaN,NaN,NaN,NaN,694.356140
6,48,2012-04-01,NaN,662.954386,NaN,NaN,NaN,NaN,662.954386
7,49,2012-05-01,NaN,667.708772,NaN,NaN,NaN,NaN,667.708772
8,50,2012-06-01,NaN,652.491228,NaN,NaN,NaN,NaN,652.491228
9,51,2012-07-01,NaN,658.275439,NaN,NaN,NaN,NaN,658.275439
10,52,2012-08-01,NaN,652.705263,NaN,NaN,NaN,NaN,652.705263
11,53,2012-09-01,NaN,651.880702,NaN,NaN,NaN,NaN,651.880702
12,54,2012-10-01,NaN,636.561404,NaN,NaN,NaN,NaN,636.561404
13,55,2012-11-01,NaN,640.233333,NaN,NaN,NaN,NaN,640.233333
14,56,2012-12-01,NaN,646.657895,NaN,NaN,NaN,NaN,646.657895
15,57,2013-01-01,NaN,646.900000,NaN,NaN,NaN,NaN,646.900000
16,58,2013-02-01,NaN,647.159649,NaN,NaN,NaN,NaN,647.159649
17,59,2013-03-01,NaN,648.607018,NaN,NaN,NaN,NaN,648.607018
18,60,2013-04-01,NaN,657.210526,NaN,NaN,NaN,NaN,657.210526
19,61,2013-05-01,NaN,663.194737,NaN,NaN,NaN,NaN,663.194737
20,62,2013-06-01,NaN,680.507018,NaN,NaN,NaN,NaN,680.507018
21,63,2013-07-01,NaN,691.154386,NaN,NaN,NaN,NaN,691.154386
22,64,2013-08-01,NaN,702.477193,NaN,NaN,NaN,NaN,702.477193
23,65,2013-09-01,NaN,708.059649,NaN,NaN,NaN,NaN,708.059649
24,66,2013-10-01,NaN,707.996491,NaN,NaN,NaN,NaN,707.996491
25,67,2013-11-01,NaN,693.371930,NaN,NaN,NaN,NaN,693.371930
26,68,2013-12-01,NaN,689.643860,NaN,NaN,NaN,NaN,689.643860
27,69,2014-01-01,NaN,689.721053,NaN,NaN,NaN,NaN,689.721053
28,70,2014-02-01,NaN,694.568421,NaN,NaN,NaN,NaN,694.568421
29,71,2014-03-01,NaN,716.280702,NaN,NaN,NaN,NaN,716.280702
...,...,...,...,...,...,...,...,...,...
61,12,2016-11-01,1181.760606,668.010526,975.475287,NaN,1181.152381,837.528857,668.010526
62,13,2016-12-01,1190.233333,672.054386,991.590435,NaN,1198.418095,843.896000,672.054386
63,14,2017-01-01,1189.722727,671.894737,995.012679,NaN,1200.119048,843.917143,671.894737
64,15,2017-02-01,1183.734848,670.807018,987.900368,NaN,1191.526667,843.870571,670.807018
65,16,2017-03-01,1156.084848,654.424561,962.534148,NaN,1161.606667,833.890857,654.424561
66,17,2017-04-01,1201.471212,686.568421,1014.788364,NaN,1208.500000,733.979429,686.568421
67,18,2017-05-01,1261.468182,705.292982,1031.437106,NaN,1226.322857,750.157714,705.292982
68,19,2017-06-01,1296.539394,710.436842,1040.130716,NaN,1237.692381,757.577429,710.436842
69,20,2017-07-01,1333.025758,723.487719,1056.870346,NaN,1258.127619,779.107143,723.487719
70,21,2017-08-01,1358.787879,734.857895,1072.210146,NaN,1276.930476,795.396286,734.857895
71,22,2017-09-01,1323.710606,720.668421,1052.487247,NaN,1255.051429,781.769429,720.668421
72,23,2017-10-01,1318.745455,713.426316,1042.362602,NaN,1242.871429,772.618286,713.426316
73,24,2017-11-01,1293.439394,666.333333,966.186219,NaN,1151.508571,727.683714,666.333333
74,25,2017-12-01,1286.287879,661.115789,948.381045,NaN,1133.535238,721.571143,661.115789
75,26,2018-01-01,1285.989394,660.912281,941.087418,NaN,1125.974286,721.550000,660.912281
76,27,2018-02-01,1287.653030,662.175439,947.673836,NaN,1132.501905,721.534857,662.175439
77,28,2018-03-01,1288.851515,661.114035,951.444273,NaN,1135.115238,721.530000,661.114035
78,29,2018-04-01,1212.531818,628.001754,892.030116,NaN,1075.307619,721.666857,628.001754
79,30,2018-05-01,1169.213636,634.119298,899.345708,NaN,1077.347619,687.226286,634.119298
80,31,2018-06-01,1149.725758,628.194737,890.934894,NaN,1065.400000,682.060857,628.194737
81,32,2018-07-01,1112.587879,613.980702,874.903052,823.247405,1044.674286,660.889714,613.980702
82,33,2018-08-01,1130.930303,618.136842,883.102823,877.200378,1054.418095,667.781714,618.136842
83,34,2018-09-01,1102.866667,599.221053,862.652132,858.316708,1028.177143,642.905714,599.221053
84,35,2018-10-01,1106.445455,600.250877,862.655719,920.745142,1029.318095,645.417143,600.250877
85,36,2018-11-01,1133.404545,621.277193,891.816873,917.760045,1065.805714,665.534286,621.277193
86,37,2018-12-01,1135.796970,628.677193,903.585038,917.587566,1079.824762,674.226571,628.677193
87,38,2019-01-01,1135.389394,628.615789,902.533904,916.208595,1079.371429,674.239143,628.615789
88,39,2019-02-01,1133.957576,629.556140,902.804080,912.659946,1080.878095,674.292286,629.556140
89,40,2019-03-01,1139.730303,635.824561,899.570197,920.871639,1080.111429,674.354857,635.824561
90,41,2019-04-01,1144.730303,621.400000,884.582704,892.878329,1068.550476,723.855714,621.400000

In [16]:
from bokeh.palettes import Spectral4
from bokeh.plotting import figure, output_file, show

p = figure(plot_width=600, plot_height=250, x_axis_type="datetime")
p.title.text = 'Click on legend entries to mute the corresponding lines'

p.line(fairbanks['Date'], fairbanks['nortech'], line_width = 2, color = 'red', legend = 'Nortech')
p.line(fairbanks['Date'], fairbanks['ff'], line_width = 2, color = 'blue', legend = 'ff')
p.line(fairbanks['Date'], fairbanks['uaf'], line_width = 2, color = 'green', legend = 'UAF')
p.line(fairbanks['Date'], fairbanks['mastellar'], line_width = 2, color = 'orange', legend = 'Mastellar')
p.line(fairbanks['Date'], fairbanks['uaf_engineering'], line_width = 2, color = 'black', legend = 'UAF Engineering')
p.line(fairbanks['Date'], fairbanks['gillam'], line_width = 2, color = 'grey', legend = 'Gillam')

p.legend.location = "top_left"
p.legend.click_policy="hide"

output_file("interactive_fairbanks.html", title="interactive_fairbanks_panel_example")

show(p)

To build a figure for Zhi, I need to make a plot that has a toggleable TMY2, TMY3 option minimum.

That being said, lets start with just the data for TMY2 and the data getting pulled from the hdf5 style

In [1]:
import hdf5_interface
import bokeh
import h5py
import pandas as pd
import numpy as np
import nrel_api_interface

In [2]:
#PVWatts low = 94% of predicted
#PVWatts high = 103% of predicted for Anchorage

#PVWatts low = 95% of predicted for Fairbanks
#PVWatts high = 105% of predicted for Fairbanks

In [3]:
#Start with Fairbanks
nrel_tmy2_json, nrel_tmy2_dataframe = nrel_api_interface.call_pvwatts(64.836995, -147.669644, 50, 'TMY2')

In [4]:
nrel_tmy2_dataframe

,ac_monthly,poa_monthly,solrad_monthly,dc_monthly,ac_annual,solrad_annual,capacity_factor
0,79.867310,20.936970,0.675386,85.286110,4087.587646,3.377252,11.66549
1,221.018539,59.637424,2.129908,231.851715,4087.587646,3.377252,11.66549
2,459.006989,130.105988,4.196967,480.733307,4087.587646,3.377252,11.66549
3,571.288330,168.225449,5.607515,600.020569,4087.587646,3.377252,11.66549
4,546.803711,170.411606,5.497149,573.688721,4087.587646,3.377252,11.66549
5,531.402588,168.728546,5.624285,558.451782,4087.587646,3.377252,11.66549
6,523.032959,168.407486,5.432499,549.494629,4087.587646,3.377252,11.66549
7,446.199310,140.970047,4.547421,468.718170,4087.587646,3.377252,11.66549
8,333.627411,102.146194,3.404873,350.625366,4087.587646,3.377252,11.66549
9,223.574249,64.034477,2.065628,235.828796,4087.587646,3.377252,11.66549
10,111.540329,30.056746,1.001891,118.315453,4087.587646,3.377252,11.66549
11,40.226490,10.648455,0.343499,43.760967,4087.587646,3.377252,11.66549

In [5]:
nrel_tmy2_low = nrel_tmy2_dataframe['ac_annual'][1]*0.95
nrel_tmy2_high = nrel_tmy2_dataframe['ac_annual'][1]*1.05

In [6]:
nrel_tmy2_low

3883.208264160156

In [7]:
nrel_tmy2_high

4291.967028808594

In [8]:
#Ok, now put the data from HDF5 into dataframes
hdf5_file = h5py.File("alaska_solar_data_storage.h5", 'r')
hdf5_fairbanks = hdf5_file.get("Fairbanks")

In [9]:
hdf5_fairbanks.keys()

In [16]:
FNSBSD_FMD_dataframe = hdf5_interface.hdf5_to_dataframe("alaska_solar_data_storage", "Fairbanks", "FNSBSD-FMD")
spirit_of_alaska_fairbanks_gillam = hdf5_interface.hdf5_to_dataframe("alaska_solar_data_storage", "Fairbanks", "Spirit of Alaska Fairbanks Gillam")
spirit_of_alaska_fairbanks_johansen_dataframe = hdf5_interface.hdf5_to_dataframe("alaska_solar_data_storage", "Fairbanks", "Spirit of Alaska Fairbanks Johansen")
uaf_engineering_building_dataframe = hdf5_interface.hdf5_to_dataframe("alaska_solar_data_storage", "Fairbanks", "UAF Engineering Building")

C:\Users\Jonorato\documents\DIRECT Classes\Alaska_Project\ACEP_solar\hdf5_interface.py:184: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  dataframe['DC Capacity'][0] = panel_location.attrs.__getitem__('DC Capacity')
C:\Users\Jonorato\documents\DIRECT Classes\Alaska_Project\ACEP_solar\hdf5_interface.py:185: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  dataframe['Location'][0] = str(location_name)

In [17]:
FNSBSD_FMD_dataframe

     Energy  Month  Year DC Capacity   Location
0    112.16     10  2010         5.7  Fairbanks
1     34.71     11  2010
2      2.07     12  2010
3     44.86      1  2011
4    195.98      2  2011
5    748.10      3  2011
6    612.78      4  2011
7    561.04      5  2011
8    363.54      6  2011
9    414.10      7  2011
10   416.05      8  2011
11   365.11      9  2011
12   234.44     10  2011
13    41.11     11  2011
14     1.13     12  2011
15    17.60      1  2012
16   182.83      2  2012
17   569.11      3  2012
18   639.88      4  2012
19   474.30      5  2012
20   396.51      6  2012
21   382.35      7  2012
22   411.35      8  2012
23   277.79      9  2012
24   255.37     10  2012
25    77.73     11  2012
26     2.51     12  2012
27    19.08      1  2013
28   191.08      2  2013
29   618.15      3  2013
..      ...    ...   ...         ...        ...
73    59.76     11  2016
74     2.41     12  2016
75    21.27      1  2017
76   191.17      2  2017
77   688.81      3  2017
78   643.81      4  2017
79   474.61      5  2017
80   473.82      6  2017
81   448.72      7  2017
82   359.82      8  2017
83   309.21      9  2017
84   124.69     10  2017
85    30.02     11  2017
86     1.25     12  2017
87    28.47      1  2018
88   185.12      2  2018
89   500.07      3  2018
90   678.68      4  2018
91   440.84      5  2018
92   392.80      6  2018
93   472.41      7  2018
94   252.00      8  2018
95   315.08      9  2018
96   244.54     10  2018
97    72.20     11  2018
98     0.90     12  2018
99    33.83      1  2019
100  220.85      2  2019
101  417.85      3  2019
102  134.82      4  2019

[103 rows x 5 columns]

In [18]:
def add_time_col(dataframe):
    #Month_change = {'November':11,'December':12,'January':1,'February':2,'March':3,'April':4,'May':5,'June':6,'July':7,'August':8,'September':9,'October':10}
    #dataframe['Month'] = dataframe['Month'].map(Month_change)
    dataframe['Date'] = ""
    for i in range(len(dataframe)):
        dataframe['Date'][i] = str(dataframe['Year'][i]) + '-' + str(dataframe['Month'][i])
    dataframe.drop(['Year','Month'],axis = 1,inplace = True)
    order = ['Date','Energy','DC Capacity','Location']
    dataframe_new = dataframe[order]
    
    return(dataframe_new)

In [19]:
FNSBSD_FMD_dataframe = add_time_col(FNSBSD_FMD_dataframe)

C:\Users\Jonorato\Miniconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
FNSBSD_FMD_dataframe

        Date  Energy DC Capacity   Location
0    2010-10  112.16         5.7  Fairbanks
1    2010-11   34.71
2    2010-12    2.07
3     2011-1   44.86
4     2011-2  195.98
5     2011-3  748.10
6     2011-4  612.78
7     2011-5  561.04
8     2011-6  363.54
9     2011-7  414.10
10    2011-8  416.05
11    2011-9  365.11
12   2011-10  234.44
13   2011-11   41.11
14   2011-12    1.13
15    2012-1   17.60
16    2012-2  182.83
17    2012-3  569.11
18    2012-4  639.88
19    2012-5  474.30
20    2012-6  396.51
21    2012-7  382.35
22    2012-8  411.35
23    2012-9  277.79
24   2012-10  255.37
25   2012-11   77.73
26   2012-12    2.51
27    2013-1   19.08
28    2013-2  191.08
29    2013-3  618.15
..       ...     ...         ...        ...
73   2016-11   59.76
74   2016-12    2.41
75    2017-1   21.27
76    2017-2  191.17
77    2017-3  688.81
78    2017-4  643.81
79    2017-5  474.61
80    2017-6  473.82
81    2017-7  448.72
82    2017-8  359.82
83    2017-9  309.21
84   2017-10  124.69
85   2017-11   30.02
86   2017-12    1.25
87    2018-1   28.47
88    2018-2  185.12
89    2018-3  500.07
90    2018-4  678.68
91    2018-5  440.84
92    2018-6  392.80
93    2018-7  472.41
94    2018-8  252.00
95    2018-9  315.08
96   2018-10  244.54
97   2018-11   72.20
98   2018-12    0.90
99    2019-1   33.83
100   2019-2  220.85
101   2019-3  417.85
102   2019-4  134.82

[103 rows x 4 columns]

In [21]:
spirit_of_alaska_fairbanks_gillam = add_time_col(spirit_of_alaska_fairbanks_gillam)
spirit_of_alaska_fairbanks_johansen_dataframe = add_time_col(spirit_of_alaska_fairbanks_johansen_dataframe)
uaf_engineering_building_dataframe = add_time_col(uaf_engineering_building_dataframe)

C:\Users\Jonorato\Miniconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [22]:
# create a function that can plot the annual Normalized Production
def annual_Norm(dataframe):
    lenth_list = list(range(12,len(dataframe.index)))
    annual_values = []
    month = []
    for i in range(len(lenth_list)):
        single_values = dataframe['Energy'][lenth_list[i]-12:lenth_list[i]].sum()/dataframe['DC Capacity'][0]
        #rolling_average.append(each_period)
        single_month = dataframe['Date'][lenth_list[i]]
        annual_values.append(single_values)
        month.append(single_month)
    return(annual_values,month)

In [24]:
gillam_annual_values, gillam_month = annual_Norm(spirit_of_alaska_fairbanks_gillam)
johansen_annual_values, johansen_month = annual_Norm(spirit_of_alaska_fairbanks_johansen_dataframe)
FNSBSD_FMD_annual_values, FNSBSD_FMD_month = annual_Norm(FNSBSD_FMD_dataframe)
uaf_e_annual_values, uaf_e_month = annual_Norm(uaf_engineering_building_dataframe)

In [57]:
# merge all the data into a dataframe, so that we can plot 
new_gillam = pd.DataFrame({'Date':gillam_month,'Gillam':gillam_annual_values})
new_uaf_engineering = pd.DataFrame({'Date':uaf_e_month,'UAF Engineering Building':uaf_e_annual_values})
new_FNSBSD_FMD = pd.DataFrame({'Date':FNSBSD_FMD_month,'FNSBSD_FMD':FNSBSD_FMD_annual_values})
new_johansen = pd.DataFrame({'Date':johansen_month,'Johansen':johansen_annual_values})
result = pd.merge(new_FNSBSD_FMD, new_johansen, on='Date', how='outer')
result = pd.merge(result, new_gillam, on='Date', how='outer')
result = pd.merge(result, new_uaf_engineering, on='Date', how='outer')
#result
result['Mean'] = result.mean(axis=1, numeric_only=True)
#merged_dataframe = result.fillna("")
#sorted_merged_dataframe = merged_dataframe.sort_values(by = ['Date'])
#sorted_merged_dataframe
merged_dataframe = result
merged_dataframe

,Date,FNSBSD_FMD,Johansen,Gillam,UAF Engineering Building,Mean
0,2011-10,679.035088,NaN,NaN,NaN,679.035088
1,2011-11,700.487719,NaN,NaN,NaN,700.487719
2,2011-12,701.610526,NaN,NaN,NaN,701.610526
3,2012-1,701.445614,NaN,NaN,NaN,701.445614
4,2012-2,696.663158,NaN,NaN,NaN,696.663158
5,2012-3,694.356140,NaN,NaN,NaN,694.356140
6,2012-4,662.954386,NaN,NaN,NaN,662.954386
7,2012-5,667.708772,1109.704643,NaN,NaN,888.706707
8,2012-6,652.491228,1236.757143,NaN,NaN,944.624185
9,2012-7,658.275439,1254.976429,NaN,NaN,956.625934
10,2012-8,652.705263,1244.540714,NaN,NaN,948.622989
11,2012-9,651.880702,1096.021071,NaN,NaN,873.950887
12,2012-10,636.561404,978.547500,NaN,NaN,807.554452
13,2012-11,640.233333,973.182143,NaN,NaN,806.707738
14,2012-12,646.657895,966.946071,NaN,NaN,806.801983
15,2013-1,646.900000,966.317857,NaN,NaN,806.608929
16,2013-2,647.159649,964.508929,NaN,NaN,805.834289
17,2013-3,648.607018,955.775000,NaN,NaN,802.191009
18,2013-4,657.210526,963.002857,NaN,NaN,810.106692
19,2013-5,663.194737,998.952857,NaN,NaN,831.073797
20,2013-6,680.507018,1114.852143,NaN,NaN,897.679580
21,2013-7,691.154386,1158.461071,NaN,NaN,924.807729
22,2013-8,702.477193,1187.981071,NaN,NaN,945.229132
23,2013-9,708.059649,1343.804286,NaN,NaN,1025.931967
24,2013-10,707.996491,1432.539286,NaN,NaN,1070.267888
25,2013-11,693.371930,1419.084286,NaN,NaN,1056.228108
26,2013-12,689.643860,1429.357857,NaN,NaN,1059.500858
27,2014-1,689.721053,1429.147857,NaN,NaN,1059.434455
28,2014-2,694.568421,1439.501429,NaN,NaN,1067.034925
29,2014-3,716.280702,1438.057143,NaN,NaN,1077.168922
...,...,...,...,...,...,...
61,2016-11,668.010526,1280.949643,837.528857,1181.152381,991.910352
62,2016-12,672.054386,1292.872143,843.896000,1198.418095,1001.810156
63,2017-1,671.894737,1292.630000,843.917143,1200.119048,1002.140232
64,2017-2,670.807018,1283.533571,843.870571,1191.526667,997.434457
65,2017-3,654.424561,1243.279286,833.890857,1161.606667,973.300343
66,2017-4,686.568421,1294.369286,733.979429,1208.500000,980.854284
67,2017-5,705.292982,1318.953571,750.157714,1226.322857,1000.181781
68,2017-6,710.436842,1325.242857,757.577429,1237.692381,1007.737377
69,2017-7,723.487719,1350.648214,779.107143,1258.127619,1027.842674
70,2017-8,734.857895,1368.345714,795.396286,1276.930476,1043.882593
71,2017-9,720.668421,1335.543571,781.769429,1255.051429,1023.258212
72,2017-10,713.426316,1318.712500,772.618286,1242.871429,1011.907133
73,2017-11,666.333333,1260.365714,727.683714,1151.508571,951.472833
74,2017-12,661.115789,1251.491071,721.571143,1133.535238,941.928310
75,2018-1,660.912281,1251.993929,721.550000,1125.974286,940.107624
76,2018-2,662.175439,1250.196429,721.534857,1132.501905,941.602157
77,2018-3,661.114035,1240.052857,721.530000,1135.115238,939.453033
78,2018-4,628.001754,1185.249643,721.666857,1075.307619,902.556468
79,2018-5,634.119298,1175.248929,687.226286,1077.347619,893.485533
80,2018-6,628.194737,1153.157143,682.060857,1065.400000,882.203184
81,2018-7,613.980702,1107.673214,660.889714,1044.674286,856.804479
82,2018-8,618.136842,1109.173929,667.781714,1054.418095,862.377645
83,2018-9,599.221053,1070.151786,642.905714,1028.177143,835.113924
84,2018-10,600.250877,1059.943929,645.417143,1029.318095,833.732511
85,2018-11,621.277193,1073.256786,665.534286,1065.805714,856.468495
86,2018-12,628.677193,1079.853214,674.226571,1079.824762,865.645435
87,2019-1,628.615789,1079.308214,674.239143,1079.371429,865.383644
88,2019-2,629.556140,1080.486786,674.292286,1080.878095,866.303327
89,2019-3,635.824561,1091.775000,674.354857,1080.111429,870.516462
90,2019-4,621.400000,1069.236429,723.855714,1068.550476,870.760655

In [58]:
merged_dataframe['TMY2 Low'] = ""
merged_dataframe['TMY2 High'] = ""
merged_dataframe['TMY2 Low'][:] = nrel_tmy2_low/4
merged_dataframe['TMY2 High'][:] = nrel_tmy2_high/4
merged_dataframe

C:\Users\Jonorato\Miniconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Jonorato\Miniconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,Date,FNSBSD_FMD,Johansen,Gillam,UAF Engineering Building,Mean,TMY2 Low,TMY2 High
0,2011-10,679.035088,NaN,NaN,NaN,679.035088,970.802,1072.99
1,2011-11,700.487719,NaN,NaN,NaN,700.487719,970.802,1072.99
2,2011-12,701.610526,NaN,NaN,NaN,701.610526,970.802,1072.99
3,2012-1,701.445614,NaN,NaN,NaN,701.445614,970.802,1072.99
4,2012-2,696.663158,NaN,NaN,NaN,696.663158,970.802,1072.99
5,2012-3,694.356140,NaN,NaN,NaN,694.356140,970.802,1072.99
6,2012-4,662.954386,NaN,NaN,NaN,662.954386,970.802,1072.99
7,2012-5,667.708772,1109.704643,NaN,NaN,888.706707,970.802,1072.99
8,2012-6,652.491228,1236.757143,NaN,NaN,944.624185,970.802,1072.99
9,2012-7,658.275439,1254.976429,NaN,NaN,956.625934,970.802,1072.99
10,2012-8,652.705263,1244.540714,NaN,NaN,948.622989,970.802,1072.99
11,2012-9,651.880702,1096.021071,NaN,NaN,873.950887,970.802,1072.99
12,2012-10,636.561404,978.547500,NaN,NaN,807.554452,970.802,1072.99
13,2012-11,640.233333,973.182143,NaN,NaN,806.707738,970.802,1072.99
14,2012-12,646.657895,966.946071,NaN,NaN,806.801983,970.802,1072.99
15,2013-1,646.900000,966.317857,NaN,NaN,806.608929,970.802,1072.99
16,2013-2,647.159649,964.508929,NaN,NaN,805.834289,970.802,1072.99
17,2013-3,648.607018,955.775000,NaN,NaN,802.191009,970.802,1072.99
18,2013-4,657.210526,963.002857,NaN,NaN,810.106692,970.802,1072.99
19,2013-5,663.194737,998.952857,NaN,NaN,831.073797,970.802,1072.99
20,2013-6,680.507018,1114.852143,NaN,NaN,897.679580,970.802,1072.99
21,2013-7,691.154386,1158.461071,NaN,NaN,924.807729,970.802,1072.99
22,2013-8,702.477193,1187.981071,NaN,NaN,945.229132,970.802,1072.99
23,2013-9,708.059649,1343.804286,NaN,NaN,1025.931967,970.802,1072.99
24,2013-10,707.996491,1432.539286,NaN,NaN,1070.267888,970.802,1072.99
25,2013-11,693.371930,1419.084286,NaN,NaN,1056.228108,970.802,1072.99
26,2013-12,689.643860,1429.357857,NaN,NaN,1059.500858,970.802,1072.99
27,2014-1,689.721053,1429.147857,NaN,NaN,1059.434455,970.802,1072.99
28,2014-2,694.568421,1439.501429,NaN,NaN,1067.034925,970.802,1072.99
29,2014-3,716.280702,1438.057143,NaN,NaN,1077.168922,970.802,1072.99
...,...,...,...,...,...,...,...,...
61,2016-11,668.010526,1280.949643,837.528857,1181.152381,991.910352,970.802,1072.99
62,2016-12,672.054386,1292.872143,843.896000,1198.418095,1001.810156,970.802,1072.99
63,2017-1,671.894737,1292.630000,843.917143,1200.119048,1002.140232,970.802,1072.99
64,2017-2,670.807018,1283.533571,843.870571,1191.526667,997.434457,970.802,1072.99
65,2017-3,654.424561,1243.279286,833.890857,1161.606667,973.300343,970.802,1072.99
66,2017-4,686.568421,1294.369286,733.979429,1208.500000,980.854284,970.802,1072.99
67,2017-5,705.292982,1318.953571,750.157714,1226.322857,1000.181781,970.802,1072.99
68,2017-6,710.436842,1325.242857,757.577429,1237.692381,1007.737377,970.802,1072.99
69,2017-7,723.487719,1350.648214,779.107143,1258.127619,1027.842674,970.802,1072.99
70,2017-8,734.857895,1368.345714,795.396286,1276.930476,1043.882593,970.802,1072.99
71,2017-9,720.668421,1335.543571,781.769429,1255.051429,1023.258212,970.802,1072.99
72,2017-10,713.426316,1318.712500,772.618286,1242.871429,1011.907133,970.802,1072.99
73,2017-11,666.333333,1260.365714,727.683714,1151.508571,951.472833,970.802,1072.99
74,2017-12,661.115789,1251.491071,721.571143,1133.535238,941.928310,970.802,1072.99
75,2018-1,660.912281,1251.993929,721.550000,1125.974286,940.107624,970.802,1072.99
76,2018-2,662.175439,1250.196429,721.534857,1132.501905,941.602157,970.802,1072.99
77,2018-3,661.114035,1240.052857,721.530000,1135.115238,939.453033,970.802,1072.99
78,2018-4,628.001754,1185.249643,721.666857,1075.307619,902.556468,970.802,1072.99
79,2018-5,634.119298,1175.248929,687.226286,1077.347619,893.485533,970.802,1072.99
80,2018-6,628.194737,1153.157143,682.060857,1065.400000,882.203184,970.802,1072.99
81,2018-7,613.980702,1107.673214,660.889714,1044.674286,856.804479,970.802,1072.99
82,2018-8,618.136842,1109.173929,667.781714,1054.418095,862.377645,970.802,1072.99
83,2018-9,599.221053,1070.151786,642.905714,1028.177143,835.113924,970.802,1072.99
84,2018-10,600.250877,1059.943929,645.417143,1029.318095,833.732511,970.802,1072.99
85,2018-11,621.277193,1073.256786,665.534286,1065.805714,856.468495,970.802,1072.99
86,2018-12,628.677193,1079.853214,674.226571,1079.824762,865.645435,970.802,1072.99
87,2019-1,628.615789,1079.308214,674.239143,1079.371429,865.383644,970.802,1072.99
88,2019-2,629.556140,1080.486786,674.292286,1080.878095,866.303327,970.802,1072.99
89,2019-3,635.824561,1091.775000,674.354857,1080.111429,870.516462,970.802,1072.99
90,2019-4,621.400000,1069.236429,723.855714,1068.550476,870.760655,970.802,1072.99

In [59]:
merged_dataframe['Date'] = pd.to_datetime(merged_dataframe['Date'])

In [60]:
merged_dataframe

,Date,FNSBSD_FMD,Johansen,Gillam,UAF Engineering Building,Mean,TMY2 Low,TMY2 High
0,2011-10-01,679.035088,NaN,NaN,NaN,679.035088,970.802,1072.99
1,2011-11-01,700.487719,NaN,NaN,NaN,700.487719,970.802,1072.99
2,2011-12-01,701.610526,NaN,NaN,NaN,701.610526,970.802,1072.99
3,2012-01-01,701.445614,NaN,NaN,NaN,701.445614,970.802,1072.99
4,2012-02-01,696.663158,NaN,NaN,NaN,696.663158,970.802,1072.99
5,2012-03-01,694.356140,NaN,NaN,NaN,694.356140,970.802,1072.99
6,2012-04-01,662.954386,NaN,NaN,NaN,662.954386,970.802,1072.99
7,2012-05-01,667.708772,1109.704643,NaN,NaN,888.706707,970.802,1072.99
8,2012-06-01,652.491228,1236.757143,NaN,NaN,944.624185,970.802,1072.99
9,2012-07-01,658.275439,1254.976429,NaN,NaN,956.625934,970.802,1072.99
10,2012-08-01,652.705263,1244.540714,NaN,NaN,948.622989,970.802,1072.99
11,2012-09-01,651.880702,1096.021071,NaN,NaN,873.950887,970.802,1072.99
12,2012-10-01,636.561404,978.547500,NaN,NaN,807.554452,970.802,1072.99
13,2012-11-01,640.233333,973.182143,NaN,NaN,806.707738,970.802,1072.99
14,2012-12-01,646.657895,966.946071,NaN,NaN,806.801983,970.802,1072.99
15,2013-01-01,646.900000,966.317857,NaN,NaN,806.608929,970.802,1072.99
16,2013-02-01,647.159649,964.508929,NaN,NaN,805.834289,970.802,1072.99
17,2013-03-01,648.607018,955.775000,NaN,NaN,802.191009,970.802,1072.99
18,2013-04-01,657.210526,963.002857,NaN,NaN,810.106692,970.802,1072.99
19,2013-05-01,663.194737,998.952857,NaN,NaN,831.073797,970.802,1072.99
20,2013-06-01,680.507018,1114.852143,NaN,NaN,897.679580,970.802,1072.99
21,2013-07-01,691.154386,1158.461071,NaN,NaN,924.807729,970.802,1072.99
22,2013-08-01,702.477193,1187.981071,NaN,NaN,945.229132,970.802,1072.99
23,2013-09-01,708.059649,1343.804286,NaN,NaN,1025.931967,970.802,1072.99
24,2013-10-01,707.996491,1432.539286,NaN,NaN,1070.267888,970.802,1072.99
25,2013-11-01,693.371930,1419.084286,NaN,NaN,1056.228108,970.802,1072.99
26,2013-12-01,689.643860,1429.357857,NaN,NaN,1059.500858,970.802,1072.99
27,2014-01-01,689.721053,1429.147857,NaN,NaN,1059.434455,970.802,1072.99
28,2014-02-01,694.568421,1439.501429,NaN,NaN,1067.034925,970.802,1072.99
29,2014-03-01,716.280702,1438.057143,NaN,NaN,1077.168922,970.802,1072.99
...,...,...,...,...,...,...,...,...
61,2016-11-01,668.010526,1280.949643,837.528857,1181.152381,991.910352,970.802,1072.99
62,2016-12-01,672.054386,1292.872143,843.896000,1198.418095,1001.810156,970.802,1072.99
63,2017-01-01,671.894737,1292.630000,843.917143,1200.119048,1002.140232,970.802,1072.99
64,2017-02-01,670.807018,1283.533571,843.870571,1191.526667,997.434457,970.802,1072.99
65,2017-03-01,654.424561,1243.279286,833.890857,1161.606667,973.300343,970.802,1072.99
66,2017-04-01,686.568421,1294.369286,733.979429,1208.500000,980.854284,970.802,1072.99
67,2017-05-01,705.292982,1318.953571,750.157714,1226.322857,1000.181781,970.802,1072.99
68,2017-06-01,710.436842,1325.242857,757.577429,1237.692381,1007.737377,970.802,1072.99
69,2017-07-01,723.487719,1350.648214,779.107143,1258.127619,1027.842674,970.802,1072.99
70,2017-08-01,734.857895,1368.345714,795.396286,1276.930476,1043.882593,970.802,1072.99
71,2017-09-01,720.668421,1335.543571,781.769429,1255.051429,1023.258212,970.802,1072.99
72,2017-10-01,713.426316,1318.712500,772.618286,1242.871429,1011.907133,970.802,1072.99
73,2017-11-01,666.333333,1260.365714,727.683714,1151.508571,951.472833,970.802,1072.99
74,2017-12-01,661.115789,1251.491071,721.571143,1133.535238,941.928310,970.802,1072.99
75,2018-01-01,660.912281,1251.993929,721.550000,1125.974286,940.107624,970.802,1072.99
76,2018-02-01,662.175439,1250.196429,721.534857,1132.501905,941.602157,970.802,1072.99
77,2018-03-01,661.114035,1240.052857,721.530000,1135.115238,939.453033,970.802,1072.99
78,2018-04-01,628.001754,1185.249643,721.666857,1075.307619,902.556468,970.802,1072.99
79,2018-05-01,634.119298,1175.248929,687.226286,1077.347619,893.485533,970.802,1072.99
80,2018-06-01,628.194737,1153.157143,682.060857,1065.400000,882.203184,970.802,1072.99
81,2018-07-01,613.980702,1107.673214,660.889714,1044.674286,856.804479,970.802,1072.99
82,2018-08-01,618.136842,1109.173929,667.781714,1054.418095,862.377645,970.802,1072.99
83,2018-09-01,599.221053,1070.151786,642.905714,1028.177143,835.113924,970.802,1072.99
84,2018-10-01,600.250877,1059.943929,645.417143,1029.318095,833.732511,970.802,1072.99
85,2018-11-01,621.277193,1073.256786,665.534286,1065.805714,856.468495,970.802,1072.99
86,2018-12-01,628.677193,1079.853214,674.226571,1079.824762,865.645435,970.802,1072.99
87,2019-01-01,628.615789,1079.308214,674.239143,1079.371429,865.383644,970.802,1072.99
88,2019-02-01,629.556140,1080.486786,674.292286,1080.878095,866.303327,970.802,1072.99
89,2019-03-01,635.824561,1091.775000,674.354857,1080.111429,870.516462,970.802,1072.99
90,2019-04-01,621.400000,1069.236429,723.855714,1068.550476,870.760655,970.802,1072.99

In [61]:
from bokeh.palettes import Spectral4
from bokeh.plotting import figure, output_file, show

p = figure(plot_width=600, plot_height=250, x_axis_type="datetime")
p.title.text = 'Click on legend entries to mute the corresponding lines'

p.line(merged_dataframe['Date'], merged_dataframe['Gillam'], line_width = 2, color = 'red', legend = 'Gillam')
p.line(merged_dataframe['Date'], merged_dataframe['FNSBSD_FMD'], line_width = 2, color = 'blue', legend = 'FNSBSD_FMD')
p.line(merged_dataframe['Date'], merged_dataframe['Johansen'], line_width = 2, color = 'green', legend = 'Johansen')
p.line(merged_dataframe['Date'], merged_dataframe['Mean'], line_width = 2, color = 'orange', legend = 'Mean')
p.line(merged_dataframe['Date'], merged_dataframe['TMY2 Low'], line_width = 2, color = 'black', legend = 'TMY2 Low')
p.line(merged_dataframe['Date'], merged_dataframe['TMY2 High'], line_width = 2, color = 'grey', legend = 'TMY2 High')

p.legend.location = "top_left"
p.legend.click_policy="hide"

output_file("interactive_fairbanks_website.html", title="interactive_fairbanks_panel_for_website")

show(p)