In [1]:
from bokeh.plotting import figure, output_file, show
from bokeh.layouts import gridplot
import numpy as np

In [2]:
# prepare some data
x = [1, 2, 3, 4, 5]
y = [6, 7, 2, 4, 5]

# output to static HTML file
output_file("lines.html")

# create a new plot with a title and axis labels
p = figure(title="simple line example", x_axis_label='x', y_axis_label='y')

# add a line renderer with legend and line thickness
p.line(x, y, legend="Temp.", line_width=2)

# show the results
show(p)

In [3]:
#Let's get a bit fancier

In [4]:
# prepare some data
x = [0.1, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0]
y0 = [i**2 for i in x]
y1 = [10**i for i in x]
y2 = [10**(i**2) for i in x]

# output to static HTML file
output_file("log_lines.html")

# create a new plot
p = figure(
   tools="pan,box_zoom,reset,save",
   y_axis_type="log", y_range=[0.001, 10**11], title="log axis example",
   x_axis_label='sections', y_axis_label='particles'
)

# add some renderers
p.line(x, x, legend="y=x")
p.circle(x, x, legend="y=x", fill_color="white", size=8)
p.line(x, y0, legend="y=x^2", line_width=3)
p.line(x, y1, legend="y=10^x", line_color="red")
p.circle(x, y1, legend="y=10^x", fill_color="red", line_color="red", size=6)
p.line(x, y2, legend="y=10^x^2", line_color="orange", line_dash="4 4")

# show the results
show(p)

In [7]:
# prepare some data
N = 4000
x = np.random.random(size=N) * 100
y = np.random.random(size=N) * 100
radii = np.random.random(size=N) * 1.5
colors = [
    "#%02x%02x%02x" % (int(r), int(g), 150) for r, g in zip(50+2*x, 30+2*y)
]

# output to static HTML file (with CDN resources)
output_file("color_scatter.html", title="color_scatter.py example", mode="cdn")

TOOLS = "crosshair,pan,wheel_zoom,box_zoom,reset,box_select,lasso_select"

# create a new plot with the tools above, and explicit ranges
p = figure(tools=TOOLS, x_range=(0, 100), y_range=(0, 100))

# add a circle renderer with vectorized colors and sizes
p.circle(x, y, radius=radii, fill_color=colors, fill_alpha=0.6, line_color=None)

# show the results
show(p)

In [9]:
# prepare some data
N = 100
x = np.linspace(0, 4*np.pi, N)
y0 = np.sin(x)
y1 = np.cos(x)
y2 = np.sin(x) + np.cos(x)

# output to static HTML file
output_file("linked_panning.html")

# create a new plot
s1 = figure(width=250, plot_height=250, title=None)
s1.circle(x, y0, size=10, color="navy", alpha=0.5)

# NEW: create a new plot and share both ranges
s2 = figure(width=250, height=250, x_range=s1.x_range, y_range=s1.y_range, title=None)
s2.triangle(x, y1, size=10, color="firebrick", alpha=0.5)

# NEW: create a new plot and share only one range
s3 = figure(width=250, height=250, x_range=s1.x_range, title=None)
s3.square(x, y2, size=10, color="olive", alpha=0.5)

# NEW: put the subplots in a gridplot
p = gridplot([[s1, s2, s3]], toolbar_location=None)

# show the results
show(p)

Ok, basic details aside - now let's dig into the interactive options that Bokeh has.

In [ ]:
#These lines are commented out, cause they only need run once. But you have to run them before the following lines.
# import bokeh
# bokeh.sampledata.download()

In [17]:
import pandas as pd

from bokeh.palettes import Spectral4
from bokeh.plotting import figure, output_file, show
from bokeh.sampledata.stocks import AAPL, IBM, MSFT, GOOG

p = figure(plot_width=800, plot_height=250, x_axis_type="datetime")
p.title.text = 'Click on legend entries to hide the corresponding lines'

for data, name, color in zip([AAPL, IBM, MSFT, GOOG], ["AAPL", "IBM", "MSFT", "GOOG"], Spectral4):
    df = pd.DataFrame(data)
    df['date'] = pd.to_datetime(df['date'])
    p.line(df['date'], df['close'], line_width=2, color=color, alpha=0.8, legend=name)

p.legend.location = "top_left"
p.legend.click_policy="hide"

output_file("interactive_legend.html", title="interactive_legend.py example")

show(p)

In [10]:
from bokeh.palettes import Spectral4
from bokeh.plotting import figure, output_file, show
from bokeh.sampledata.stocks import AAPL, IBM, MSFT, GOOG

p = figure(plot_width=800, plot_height=250, x_axis_type="datetime")
p.title.text = 'Click on legend entries to mute the corresponding lines'

for data, name, color in zip([AAPL, IBM, MSFT, GOOG], ["AAPL", "IBM", "MSFT", "GOOG"], Spectral4):
    df = pd.DataFrame(data)
    df['date'] = pd.to_datetime(df['date'])
    p.line(df['date'], df['close'], line_width=2, color=color, alpha=0.8,
           muted_color=color, muted_alpha=0.2, legend=name)

p.legend.location = "top_left"
p.legend.click_policy="mute"

output_file("interactive_legend.html", title="interactive_legend.py example")

show(p)

I think that gets a bit of an understanding of what all is possible. I'm going to try to do the checkboxes now, and incorporate our actual data.

In [4]:
import pandas as pd
# from bokeh.io import output_file, show
# from bokeh.models.widgets import CheckboxGroup

# output_file("checkbox_group.html")

# checkbox_group = CheckboxGroup(
#         labels=["Option 1", "Option 2", "Option 3"], active=[0, 1])

# show(checkbox_group)

In [5]:
# First, try to read the csv file that contains the dataframe we want
fairbanks = pd.read_csv('Fairbanks_6panels')

In [6]:
fairbanks

,Unnamed: 0,Date,nortech,ff,uaf,mastellar,uaf_engineering,gillam,Mean
0,42,2011-10-01,NaN,679.035088,NaN,NaN,NaN,NaN,679.035088
1,43,2011-11-01,NaN,700.487719,NaN,NaN,NaN,NaN,700.487719
2,44,2011-12-01,NaN,701.610526,NaN,NaN,NaN,NaN,701.610526
3,45,2012-01-01,NaN,701.445614,NaN,NaN,NaN,NaN,701.445614
4,46,2012-02-01,NaN,696.663158,NaN,NaN,NaN,NaN,696.663158
5,47,2012-03-01,NaN,694.356140,NaN,NaN,NaN,NaN,694.356140
6,48,2012-04-01,NaN,662.954386,NaN,NaN,NaN,NaN,662.954386
7,49,2012-05-01,NaN,667.708772,NaN,NaN,NaN,NaN,667.708772
8,50,2012-06-01,NaN,652.491228,NaN,NaN,NaN,NaN,652.491228
9,51,2012-07-01,NaN,658.275439,NaN,NaN,NaN,NaN,658.275439
10,52,2012-08-01,NaN,652.705263,NaN,NaN,NaN,NaN,652.705263
11,53,2012-09-01,NaN,651.880702,NaN,NaN,NaN,NaN,651.880702
12,54,2012-10-01,NaN,636.561404,NaN,NaN,NaN,NaN,636.561404
13,55,2012-11-01,NaN,640.233333,NaN,NaN,NaN,NaN,640.233333
14,56,2012-12-01,NaN,646.657895,NaN,NaN,NaN,NaN,646.657895
15,57,2013-01-01,NaN,646.900000,NaN,NaN,NaN,NaN,646.900000
16,58,2013-02-01,NaN,647.159649,NaN,NaN,NaN,NaN,647.159649
17,59,2013-03-01,NaN,648.607018,NaN,NaN,NaN,NaN,648.607018
18,60,2013-04-01,NaN,657.210526,NaN,NaN,NaN,NaN,657.210526
19,61,2013-05-01,NaN,663.194737,NaN,NaN,NaN,NaN,663.194737
20,62,2013-06-01,NaN,680.507018,NaN,NaN,NaN,NaN,680.507018
21,63,2013-07-01,NaN,691.154386,NaN,NaN,NaN,NaN,691.154386
22,64,2013-08-01,NaN,702.477193,NaN,NaN,NaN,NaN,702.477193
23,65,2013-09-01,NaN,708.059649,NaN,NaN,NaN,NaN,708.059649
24,66,2013-10-01,NaN,707.996491,NaN,NaN,NaN,NaN,707.996491
25,67,2013-11-01,NaN,693.371930,NaN,NaN,NaN,NaN,693.371930
26,68,2013-12-01,NaN,689.643860,NaN,NaN,NaN,NaN,689.643860
27,69,2014-01-01,NaN,689.721053,NaN,NaN,NaN,NaN,689.721053
28,70,2014-02-01,NaN,694.568421,NaN,NaN,NaN,NaN,694.568421
29,71,2014-03-01,NaN,716.280702,NaN,NaN,NaN,NaN,716.280702
...,...,...,...,...,...,...,...,...,...
61,12,2016-11-01,1181.760606,668.010526,975.475287,NaN,1181.152381,837.528857,668.010526
62,13,2016-12-01,1190.233333,672.054386,991.590435,NaN,1198.418095,843.896000,672.054386
63,14,2017-01-01,1189.722727,671.894737,995.012679,NaN,1200.119048,843.917143,671.894737
64,15,2017-02-01,1183.734848,670.807018,987.900368,NaN,1191.526667,843.870571,670.807018
65,16,2017-03-01,1156.084848,654.424561,962.534148,NaN,1161.606667,833.890857,654.424561
66,17,2017-04-01,1201.471212,686.568421,1014.788364,NaN,1208.500000,733.979429,686.568421
67,18,2017-05-01,1261.468182,705.292982,1031.437106,NaN,1226.322857,750.157714,705.292982
68,19,2017-06-01,1296.539394,710.436842,1040.130716,NaN,1237.692381,757.577429,710.436842
69,20,2017-07-01,1333.025758,723.487719,1056.870346,NaN,1258.127619,779.107143,723.487719
70,21,2017-08-01,1358.787879,734.857895,1072.210146,NaN,1276.930476,795.396286,734.857895
71,22,2017-09-01,1323.710606,720.668421,1052.487247,NaN,1255.051429,781.769429,720.668421
72,23,2017-10-01,1318.745455,713.426316,1042.362602,NaN,1242.871429,772.618286,713.426316
73,24,2017-11-01,1293.439394,666.333333,966.186219,NaN,1151.508571,727.683714,666.333333
74,25,2017-12-01,1286.287879,661.115789,948.381045,NaN,1133.535238,721.571143,661.115789
75,26,2018-01-01,1285.989394,660.912281,941.087418,NaN,1125.974286,721.550000,660.912281
76,27,2018-02-01,1287.653030,662.175439,947.673836,NaN,1132.501905,721.534857,662.175439
77,28,2018-03-01,1288.851515,661.114035,951.444273,NaN,1135.115238,721.530000,661.114035
78,29,2018-04-01,1212.531818,628.001754,892.030116,NaN,1075.307619,721.666857,628.001754
79,30,2018-05-01,1169.213636,634.119298,899.345708,NaN,1077.347619,687.226286,634.119298
80,31,2018-06-01,1149.725758,628.194737,890.934894,NaN,1065.400000,682.060857,628.194737
81,32,2018-07-01,1112.587879,613.980702,874.903052,823.247405,1044.674286,660.889714,613.980702
82,33,2018-08-01,1130.930303,618.136842,883.102823,877.200378,1054.418095,667.781714,618.136842
83,34,2018-09-01,1102.866667,599.221053,862.652132,858.316708,1028.177143,642.905714,599.221053
84,35,2018-10-01,1106.445455,600.250877,862.655719,920.745142,1029.318095,645.417143,600.250877
85,36,2018-11-01,1133.404545,621.277193,891.816873,917.760045,1065.805714,665.534286,621.277193
86,37,2018-12-01,1135.796970,628.677193,903.585038,917.587566,1079.824762,674.226571,628.677193
87,38,2019-01-01,1135.389394,628.615789,902.533904,916.208595,1079.371429,674.239143,628.615789
88,39,2019-02-01,1133.957576,629.556140,902.804080,912.659946,1080.878095,674.292286,629.556140
89,40,2019-03-01,1139.730303,635.824561,899.570197,920.871639,1080.111429,674.354857,635.824561
90,41,2019-04-01,1144.730303,621.400000,884.582704,892.878329,1068.550476,723.855714,621.400000

In [7]:
fairbanks['Date'] = pd.to_datetime(fairbanks['Date'])
fairbanks

,Unnamed: 0,Date,nortech,ff,uaf,mastellar,uaf_engineering,gillam,Mean
0,42,2011-10-01,NaN,679.035088,NaN,NaN,NaN,NaN,679.035088
1,43,2011-11-01,NaN,700.487719,NaN,NaN,NaN,NaN,700.487719
2,44,2011-12-01,NaN,701.610526,NaN,NaN,NaN,NaN,701.610526
3,45,2012-01-01,NaN,701.445614,NaN,NaN,NaN,NaN,701.445614
4,46,2012-02-01,NaN,696.663158,NaN,NaN,NaN,NaN,696.663158
5,47,2012-03-01,NaN,694.356140,NaN,NaN,NaN,NaN,694.356140
6,48,2012-04-01,NaN,662.954386,NaN,NaN,NaN,NaN,662.954386
7,49,2012-05-01,NaN,667.708772,NaN,NaN,NaN,NaN,667.708772
8,50,2012-06-01,NaN,652.491228,NaN,NaN,NaN,NaN,652.491228
9,51,2012-07-01,NaN,658.275439,NaN,NaN,NaN,NaN,658.275439
10,52,2012-08-01,NaN,652.705263,NaN,NaN,NaN,NaN,652.705263
11,53,2012-09-01,NaN,651.880702,NaN,NaN,NaN,NaN,651.880702
12,54,2012-10-01,NaN,636.561404,NaN,NaN,NaN,NaN,636.561404
13,55,2012-11-01,NaN,640.233333,NaN,NaN,NaN,NaN,640.233333
14,56,2012-12-01,NaN,646.657895,NaN,NaN,NaN,NaN,646.657895
15,57,2013-01-01,NaN,646.900000,NaN,NaN,NaN,NaN,646.900000
16,58,2013-02-01,NaN,647.159649,NaN,NaN,NaN,NaN,647.159649
17,59,2013-03-01,NaN,648.607018,NaN,NaN,NaN,NaN,648.607018
18,60,2013-04-01,NaN,657.210526,NaN,NaN,NaN,NaN,657.210526
19,61,2013-05-01,NaN,663.194737,NaN,NaN,NaN,NaN,663.194737
20,62,2013-06-01,NaN,680.507018,NaN,NaN,NaN,NaN,680.507018
21,63,2013-07-01,NaN,691.154386,NaN,NaN,NaN,NaN,691.154386
22,64,2013-08-01,NaN,702.477193,NaN,NaN,NaN,NaN,702.477193
23,65,2013-09-01,NaN,708.059649,NaN,NaN,NaN,NaN,708.059649
24,66,2013-10-01,NaN,707.996491,NaN,NaN,NaN,NaN,707.996491
25,67,2013-11-01,NaN,693.371930,NaN,NaN,NaN,NaN,693.371930
26,68,2013-12-01,NaN,689.643860,NaN,NaN,NaN,NaN,689.643860
27,69,2014-01-01,NaN,689.721053,NaN,NaN,NaN,NaN,689.721053
28,70,2014-02-01,NaN,694.568421,NaN,NaN,NaN,NaN,694.568421
29,71,2014-03-01,NaN,716.280702,NaN,NaN,NaN,NaN,716.280702
...,...,...,...,...,...,...,...,...,...
61,12,2016-11-01,1181.760606,668.010526,975.475287,NaN,1181.152381,837.528857,668.010526
62,13,2016-12-01,1190.233333,672.054386,991.590435,NaN,1198.418095,843.896000,672.054386
63,14,2017-01-01,1189.722727,671.894737,995.012679,NaN,1200.119048,843.917143,671.894737
64,15,2017-02-01,1183.734848,670.807018,987.900368,NaN,1191.526667,843.870571,670.807018
65,16,2017-03-01,1156.084848,654.424561,962.534148,NaN,1161.606667,833.890857,654.424561
66,17,2017-04-01,1201.471212,686.568421,1014.788364,NaN,1208.500000,733.979429,686.568421
67,18,2017-05-01,1261.468182,705.292982,1031.437106,NaN,1226.322857,750.157714,705.292982
68,19,2017-06-01,1296.539394,710.436842,1040.130716,NaN,1237.692381,757.577429,710.436842
69,20,2017-07-01,1333.025758,723.487719,1056.870346,NaN,1258.127619,779.107143,723.487719
70,21,2017-08-01,1358.787879,734.857895,1072.210146,NaN,1276.930476,795.396286,734.857895
71,22,2017-09-01,1323.710606,720.668421,1052.487247,NaN,1255.051429,781.769429,720.668421
72,23,2017-10-01,1318.745455,713.426316,1042.362602,NaN,1242.871429,772.618286,713.426316
73,24,2017-11-01,1293.439394,666.333333,966.186219,NaN,1151.508571,727.683714,666.333333
74,25,2017-12-01,1286.287879,661.115789,948.381045,NaN,1133.535238,721.571143,661.115789
75,26,2018-01-01,1285.989394,660.912281,941.087418,NaN,1125.974286,721.550000,660.912281
76,27,2018-02-01,1287.653030,662.175439,947.673836,NaN,1132.501905,721.534857,662.175439
77,28,2018-03-01,1288.851515,661.114035,951.444273,NaN,1135.115238,721.530000,661.114035
78,29,2018-04-01,1212.531818,628.001754,892.030116,NaN,1075.307619,721.666857,628.001754
79,30,2018-05-01,1169.213636,634.119298,899.345708,NaN,1077.347619,687.226286,634.119298
80,31,2018-06-01,1149.725758,628.194737,890.934894,NaN,1065.400000,682.060857,628.194737
81,32,2018-07-01,1112.587879,613.980702,874.903052,823.247405,1044.674286,660.889714,613.980702
82,33,2018-08-01,1130.930303,618.136842,883.102823,877.200378,1054.418095,667.781714,618.136842
83,34,2018-09-01,1102.866667,599.221053,862.652132,858.316708,1028.177143,642.905714,599.221053
84,35,2018-10-01,1106.445455,600.250877,862.655719,920.745142,1029.318095,645.417143,600.250877
85,36,2018-11-01,1133.404545,621.277193,891.816873,917.760045,1065.805714,665.534286,621.277193
86,37,2018-12-01,1135.796970,628.677193,903.585038,917.587566,1079.824762,674.226571,628.677193
87,38,2019-01-01,1135.389394,628.615789,902.533904,916.208595,1079.371429,674.239143,628.615789
88,39,2019-02-01,1133.957576,629.556140,902.804080,912.659946,1080.878095,674.292286,629.556140
89,40,2019-03-01,1139.730303,635.824561,899.570197,920.871639,1080.111429,674.354857,635.824561
90,41,2019-04-01,1144.730303,621.400000,884.582704,892.878329,1068.550476,723.855714,621.400000

In [14]:
from bokeh.palettes import Spectral4
from bokeh.plotting import figure, output_file, show

p = figure(plot_width=1000, plot_height=450, x_axis_type="datetime")
p.title.text = 'Click on legend entries to mute the corresponding lines'

p.line(fairbanks['Date'], fairbanks['nortech'], line_width = 3, color = 'red', legend = 'Nortech')
p.line(fairbanks['Date'], fairbanks['ff'], line_width = 3, color = 'blue', legend = 'ff')
p.line(fairbanks['Date'], fairbanks['uaf'], line_width = 3, color = 'green', legend = 'UAF')
p.line(fairbanks['Date'], fairbanks['mastellar'], line_width = 3, color = 'orange', legend = 'Mastellar')
p.line(fairbanks['Date'], fairbanks['uaf_engineering'], line_width = 3, color = 'black', legend = 'UAF Engineering')
p.line(fairbanks['Date'], fairbanks['gillam'], line_width = 3, color = 'grey', legend = 'Gillam')

# for data, name, color in zip([AAPL, IBM, MSFT, GOOG], ["AAPL", "IBM", "MSFT", "GOOG"], Spectral4):
#     df = pd.DataFrame(data)
#     df['date'] = pd.to_datetime(df['date'])
#     p.line(df['date'], df['close'], line_width=2, color=color, alpha=0.8,
#            muted_color=color, muted_alpha=0.2, legend=name)

p.legend.location = "top_left"
p.legend.click_policy="hide"

output_file("interactive_fairbanks.html", title="interactive_fairbanks_panel_example")

show(p)