## This is a notebook that make the 'machine learning filling missing data' into a function

In [1]:
# import the need package
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [14]:
# making function
def filled_missingdata_with_ML(dataframe):
    
    """
    This is a function that using machine learning in 'polynomial' that in SKLEARN to predict the missing data 
    and will return to a dataframe which has the predicted data and with a new column name 'status' with 0 
    representing that this data is an asumption.
    
    Args:
       dataframe(DataFrame):name of the dataframe which has missing data
       
    Returns:
       dataframe
    
    """
    
    # drop the 'DC capacity' & 'Location' columns cause if will influence the 'isnan' judgement.
    dataframe_with_missing = dataframe.drop(['DC Capacity','Location'],axis=1)
    
    # change the 'month' to the number instead of 'words'
    month_change = {'November':11,'December':12,'January': 1,
                'February':2,'March':3,'April':4,'May':5,
                'June':6,'July':7,'August':8,'September':9,'October':10}
    dataframe_with_missing['Month'] = dataframe_with_missing['Month'].map(month_change)
    
    # get the 'date' that has the missing data
    list_of_missing = []
    index_of_missing = []
    for i in range(len(dataframe_with_missing)):
        if np.isnan(dataframe_with_missing['Energy'][i]) == True:
            index_of_missing.append(i)
            year_month = [dataframe_with_missing['Year'][i],dataframe_with_missing['Month'][i]]
            list_of_missing.append(year_month)
            
    #drop the missing data
    dataframe_without_missing = dataframe_with_missing.dropna()
    dataframe_without_missing.reset_index(drop=True,inplace=True)
    
    #creating the x,y to train the model
    x_list=[]
    for i in range(len(dataframe_without_missing)):
        a = [dataframe_without_missing['Year'][i],dataframe_without_missing['Month'][i]]
        x_list.append(a)

    y_list=[]
    for i in range(len(dataframe_without_missing)):
        b = dataframe_without_missing['Energy'][i]
        y_list.append(b)
    
    # preparing the x_need_predicted for the model
    x_need_predict=list_of_missing
    
    # design the model
    poly = PolynomialFeatures(degree=8)
    
    # Transfer the preditor into poly way
    X_train = poly.fit_transform(x_list)
    x_need_predict_transfer = poly.fit_transform(x_need_predict)
    
    # Instantiate
    lg = LinearRegression()
    
    # Fit
    lg.fit(X_train, y_list)
    
    # Predict
    y_predicted = lg.predict(x_need_predict_transfer)
    
    # put the predicted data back (actually create a new dataframe with predicted data)
    list_of_predicted = y_predicted.tolist()
    fill = pd.DataFrame(index=index_of_missing,data=list_of_predicted,columns=['Energy'])
    dataframe_with_predicted = dataframe.fillna(fill)
    
    # create a new column in dataframe name 'status'
    dataframe_with_predicted['Status'] = ""
    for i in index_of_missing:
        dataframe_with_predicted['Status'][i] = 0
        
    return(dataframe_with_predicted)

In [15]:
# read the missing file
bethel = pd.read_excel('../Cleaned_data/RuralAk/RuralAK_Bethel_cleaned.xlsx')

In [19]:
a = filled_missingdata_with_ML(bethel)

/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
a # It is working!!!!!

    Year      Month       Energy  DC Capacity Location Status
0   2012    October   950.000000         10.0   Bethel
1   2012   November   739.000000          NaN      NaN
2   2012   December   370.000000          NaN      NaN
3   2013    January   329.000000          NaN      NaN
4   2013   February   730.000000          NaN      NaN
5   2013      March  1575.000000          NaN      NaN
6   2013      April  2374.000000          NaN      NaN
7   2013        May  1902.000000          NaN      NaN
8   2013       June  1481.000000          NaN      NaN
9   2013       July  1127.000000          NaN      NaN
10  2013     August   885.000000          NaN      NaN
11  2013  September   899.000000          NaN      NaN
12  2013    October   501.000000          NaN      NaN
13  2013   November   284.000000          NaN      NaN
14  2013   December   182.000000          NaN      NaN
15  2014    January   214.000000          NaN      NaN
16  2014   February   798.000000          NaN      NaN
17  2014      March  1726.000000          NaN      NaN
18  2014      April  1671.000000          NaN      NaN
19  2014        May  1734.000000          NaN      NaN
20  2014       June  1589.000000          NaN      NaN
21  2014       July  1346.000000          NaN      NaN
22  2014     August  1085.000000          NaN      NaN
23  2014  September  1055.000000          NaN      NaN
24  2014    October   826.000000          NaN      NaN
25  2014   November   367.000000          NaN      NaN
26  2014   December   172.000000          NaN      NaN
27  2015    January   585.000000          NaN      NaN
28  2015   February   738.000000          NaN      NaN
29  2015      March  1309.000000          NaN      NaN
..   ...        ...          ...          ...      ...    ...
48  2016    October   839.000000          NaN      NaN
49  2016   November   496.000000          NaN      NaN
50  2016   December   222.000000          NaN      NaN
51  2017    January   476.000000          NaN      NaN
52  2017   February   884.000000          NaN      NaN
53  2017      March  2272.000000          NaN      NaN
54  2017      April  1547.000000          NaN      NaN
55  2017        May  1552.000000          NaN      NaN
56  2017       June  1391.000000          NaN      NaN
57  2017       July  1281.000000          NaN      NaN
58  2017     August  1111.000000          NaN      NaN
59  2017  September   780.000000          NaN      NaN
60  2017    October   529.000000          NaN      NaN
61  2017   November   202.000000          NaN      NaN
62  2017   December   117.000000          NaN      NaN
63  2018    January   485.253786          NaN      NaN      0
64  2018   February   794.624515          NaN      NaN      0
65  2018      March  1336.319619          NaN      NaN      0
66  2018      April  1593.912038          NaN      NaN      0
67  2018        May  1524.355785          NaN      NaN      0
68  2018       June  1339.000000          NaN      NaN
69  2018       July  1092.000000          NaN      NaN
70  2018     August   737.000000          NaN      NaN
71  2018  September   881.000000          NaN      NaN
72  2018    October   563.000000          NaN      NaN
73  2018   November   380.000000          NaN      NaN
74  2018   December   206.000000          NaN      NaN
75  2019    January   271.000000          NaN      NaN
76  2019   February   423.000000          NaN      NaN
77  2019      March   923.000000          NaN      NaN

[78 rows x 6 columns]